.main-nav {
  position: relative;
  display: block;
  width: 100%;
  &__toggle {
    position: absolute;
    padding: 0;
    top: -69px;
    right: 0;
    height: 69px;
    width: 66px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 1px;
    outline: none;
  }
  &--closed &__toggle {
    &::before {
      position: absolute;
      content: "";
      top: 25px;
      right: 17px;
      width: 50px;
      height: 4px;
      background-color: white;
      box-shadow: 0 8px 0 0 white, 0 16px 0 0 white;
      border-radius: 1px;
      transition: all 0.3s ease;
      &:active::before {
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
      }
    }
    &:hover::before,
    &:focus::before {
      background-color: #D22856;
      box-shadow: 0 8px 0 0 #D22856, 0 16px 0 0 #D22856;
    }
    &:active::before {
      background-color: #D22856;
      opacity: 0.3;
    }
  }
  &--opened &__toggle {
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 30px;
      right: 17px;
      width: 30px;
      height: 4px;
      background-color: white;
      border-radius: 1px;
      transition: all 0.5s ease;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
      background-color: #D22856;
      //box-shadow: 0 8px 0 0 #D22856, 0 16px 0 0 #D22856;
    }
    &:active::before,
    &:active::after {
      background-color: #D22856;
      opacity: 0.3;
    }
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav {
    &--closed .site-list__item,
    &--closed .user-list__item {
      display: none;
    }
    &--opened {
      & .main-nav__wrapper {
        z-index: 10;
      }
    }
    &--nojs {
      .main-nav__toggle {
        display: none;
      }
      .main-nav__wrapper {
        position: static;
        min-height: 0;
      }
      .site-list__item {
        display: block;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    &__toggle {
      top: -90px;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    align-items: center;
    &__toggle {
      display: none;
    }
    &__wrapper {
      width: 100%;
    }
  }
}