.questionary {
  padding-top: 45px;
  background-color: white;
}

@media (min-width: @tablet-width) {
  .questionary {
    padding-top: 93px;
  }
}

@media (min-width: @desktop-width) {
  .questionary {
    &__form {
      max-width: 940px;
      margin: 0 auto;
    }
  }
}
