.site-list {
  .reset-list;
  &__item {
    a {
      display: block;
      width: 100%;
      padding-top: 16px;
      padding-bottom: 15px;

      font-family: "open_sansbold", Arial, sans-serif;
      font-size: 18px;
      line-height: 32px;

      text-decoration: none;
      text-transform: uppercase;
      text-align: center;

      color: white;
      background-color: #283645;
      border-bottom: 1px solid #1C1C1C;
      border-top: 1px solid #4C5764;
      transition: all 0.3s ease;
      &[href] {
        &:hover, &:focus {
          color: #D22856;
        }
        &:active {
          color: rgba(210, 40, 86, 0.3);
        }
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    width: 620px;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: 130px;
    &__item {
      position: relative;
      &--active {
        &::after {
          position: absolute;
          content: "";
          background-color: white;
          width: 100%;
          height: 2px;
        }
      }
      a {
        font-family: "open_sansregular", Arial, sans-serif;
        line-height: 18px;
        text-transform: none;
        background-color: transparent;
        border: none;
        &[href] {
          &:active {
            color: rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
  }
}
