@import "fonts.css";

@tablet-width: 659px;
@desktop-width: 1250px;
@mobile-width-only: 1199px;
@phone-width-only: 658px;

@content-width: 1300px;
@red: #EA2C62;

.reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  outline: none;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "myriadProRegular", Arial, sans-serif;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.add {
  width: 260px;
  display: flex;
  align-items: flex-end;
  img {
    width: 100%;
  }
}

.title {
  position: relative;
  font-family: montserratsemibold, "Arial Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  z-index: 1;
  &--blue, &--red {
    &::before {
      position: absolute;
      content: "";
      width: 180px;
      height: 25px;
      bottom: -3px;
      left: -15px;
      z-index: -1;
    }
  }
  &--red::before {
    background-color: #F495B0;
  }
  &--blue::before {
    background-color: #AB9EF8;
  }
}

.button {
  border: 2px solid;
  font-family: "montserratsemibold", Arial, sans-serif;
  border-radius: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
  &--red {
    background-color: @red;
    color: white;
    border-color: @red;
    &:hover, &:active, &:focus {
      opacity: .7;
    }
  }
  &--trans {
    color: @red;
    background-color: white;
    border-color: @red;
    &:hover, &:active, &:focus {
      background-color: @red;
      color: white;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: @content-width;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}

.advantages {
  .reset-list;
  display: flex;
  align-items: center;
  height: 200px;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(87, 61, 242, 0.7);
    color: white;
    &:first-child {
      width: 265px;
      height: 120px;
      margin-top: -80px;
      margin-right: -30px;
      border-radius: 10px 10px 0 10px;
    }
    &:last-child {
      width: 229px;
      height: 140px;
      border-radius: 0 10px 10px 10px;
      margin-bottom: -60px;
    }
  }
  &__number {
    margin-top: -7px;
    font-size: 30px;
    font-family: montserratsemibold, "Arial Black", sans-serif;
  }
  &__about {
    margin-top: 15px;
    font-size: 14px;
    font-family: montserratregular, Arial, sans-serif;
  }
}

.header {
  position: relative;
  padding-top: 19px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .1);
  z-index: 1000;
  &__upper-block, &__lower-block {
    position: relative;
    width: 100%;
  }
  &__upper-block {
    padding-bottom: 19px;
    border-bottom: 2px solid #E4E4E4;

  }
  &__lower-block {
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    box-sizing: border-box;
    max-width: @content-width;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;
  }
  &__button {
    padding: 10px 30px;
  }
  &__time-list {
    .reset-list;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__time {
    position: relative;
    display: block;
    font-size: 12px;
    padding-left: 21px;
    white-space: nowrap;
    &:last-child {
      padding-left: 55px;
      font-family: montserratsemibold, "Arial Black", sans-serif;
      font-size: 14px;
    }
    b {
      font-family: montserratsemibold, Arial, sans-serif;
      padding-right: 5px;
    }
    svg {
      top: 0;
      left: 0;
      position: absolute;
    }
    a {
      color: black;
      text-decoration: none;
      padding-left: 15px;
    }
  }
  &__logo {
    padding-top: 11px;
    padding-right: 170px;
  }
}

.logo {
  position: relative;
  color: black;
  text-decoration: none;
  svg text {
    font-family: "montserratblack", "Arial Black", sans-serif;
  }
  svg {
    width: 135px;
  }
  &__text {
    display: block;
    position: absolute;
    top: 10px;
    left: 105px;
    font-family: montserratregular, "Arial Black", sans-serif;
    line-height: 16px;
    text-transform: uppercase;
    width: 200px;
  }
}

.main-nav {
  .reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 64%;
  font-family: montserratregular, sans-serif;
  &--closed {
  }
  &--opened {
  }
  &__item {
    height: 95px;
  }
  a {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    &:hover, &:focus, &:active {
      color: #573DF2;
      &::before {
        position: absolute;
        top: calc(50% + 10px);
        left: 0;
        content: "";
        height: 2px;
        width: 100%;
        background-color: #EA2C62;
      }
    }
  }
}

.banner {
  min-height: 611px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 53px;
  padding-bottom: 67px;
  background: no-repeat top center;
  background-image: url("../img/Onlajn-konsultatsiya-vracha-Sanatorij-Dnepr-Beskid-Truskavets.jpg");
  background-size: cover;
  &--inner {
    background-image: url("../img/jeshoots-com-l0j0DHVWcIE-unsplash.jpg");
  }
  &__title {
    margin: 0;
    font-size: 48px;
    line-height: 65px;
    font-family: montserratsemibold, "Arial Black", sans-serif;
    text-transform: uppercase;
  }
  &__container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__left {
    max-width: 600px;
  }
  &__services {
    .reset-list;
    display: flex;
    margin-top: 20px;
  }
  &__service {
    box-sizing: border-box;
    padding-right: 40px;
    width: 50%;
    p {
      margin: 0;
      margin-top: 20px;
      padding: 0;
      font-family: montserratregular, Arial, sans-serif;
      font-size: 14px;
    }
    svg {
      width: 28px;
    }
  }
  &__service-title {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-family: montserratsemibold, "Arial Black", sans-serif;
    font-size: 18px;
  }
  &__slogan {
    margin: 0;
    margin-top: 38px;
    font-family: montserratsemibold, "Arial Black", sans-serif;
    font-size: 18px;
    strong {
      font-size: 32px;
      color: @red;
      padding-left: 5px;
      white-space: nowrap;
    }
  }
  &__button {
    padding: 21px 50px;
    border-radius: 35px;
    margin-top: 47px;
  }
  &__advantages {
    margin-top: 50px;
    align-self: flex-end
  }
}

.our-services {
  display: flex;
  box-sizing: border-box;
  padding-right: 80px;
  max-width: @content-width;
  margin: 0 auto;
  padding-top: 93px;
  &__container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 850px;
    padding-right: 30px;
  }
  &__table {
    width: 100%;
    margin-top: 85px;
    font-family: myriadProRegular, Arial, sans-serif;
    font-size: 14px;
    border-collapse: collapse
  }
  &__row {
    &:nth-child(odd) {
      background-color: #F8F7FF;
    }
  }
  &__name {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 11px;
    padding-top: 11px;
  }
  &__price {
    font-weight: normal;
    text-align: left;
  }
}

.services {
  .reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    width: 265px;
    margin-bottom: 28px;
    padding-bottom: 15px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    border-radius: 10px;
    box-sizing: border-box;
  }
  &__time {
    margin: 0;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: montserratregular, Arial, sans-serif;
    font-size: 14px;
    background-color: #5239E3;
    color: #AB9EF8;
  }
  &__img {
    display: block;
    object-fit: cover;
    height: 219px;
    width: 100%;
    margin-bottom: 17px;
  }
  &__title, &__price, &__description {
    padding-left: 16px;
    padding-right: 16px;
  }
  &__title {
    margin: 0;
    font-size: 16px;
    font-family: montserratsemibold, "Arial Black", sans-serif;
  }
  &__price {
    display: block;
    margin-top: 14px;
    margin-bottom: 10px;
    font-family: montserratsemibold, "Arial Black", sans-serif;
    font-size: 24px;
    color: @red;
  }
  &__description {
    margin: 0;
    font-family: montserratregular, Arial, sans-serif;
    font-size: 12px;
  }
}

.other-services {
  display: flex;
  padding-top: 65px;
  &--inner {
    padding-top: 95px;
  }
  &__title {
    align-self: flex-start;
  }
  &__container {
    flex-direction: column;
  }
  &__list {
    margin-top: 53px;
  }
}

.our-specialists {
  padding-top: 62px;
  &--inner {
    padding-top: 90px;
  }
  &__container {
    flex-direction: column;
  }
  &__title {
    align-self: flex-start;
  }
  &__list {
    .reset-list;
    display: flex;
    width: 100%;
    margin-top: 47px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: 265px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  img {
    display: block;
    object-fit: cover;
    height: 264px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 17px;
    width: 100%;
  }
  &__link {
    position: relative;
    align-self: flex-end;
    cursor: pointer;
    color: #573DF2;
    text-decoration: none;
    font-size: 16px;
    font-family: montserratregular, Arial, sans-serif;
    margin-top: 5px;
    padding-right: 33px;
    svg {
      position: absolute;
      top: 0;
      right: 5px;
      height: 20px;
    }
  }
  &__name {
    margin: 0;
    font-size: 16px;
    font-family: montserratsemibold, "Arial Black", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__about {
    margin: 0;
    font-size: 12px;
    font-family: montserratregular, "Arial Black", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 17px;
  }
}

.convince {
  max-width: @content-width;
  margin: 0 auto;
  padding-top: 103px;
  padding-right: 80px;
  padding-left: 80px;
  box-sizing: border-box;
  overflow: hidden;
  &__title {
    text-align: center;
    margin: 0;
    font-family: montserratsemibold, "Arial Black", sans-serif;
    font-size: 24px;
    line-height: 30px;
  }
  &__list {
    .reset-list;
    margin-top: 35px;
    padding-right: 120px;
    counter-reset: myCounter;
  }
  &__item {
    position: relative;
    padding-left: 100px;
    padding-bottom: 50px;
    &::before {
      font-size: 72px;
      font-family: montserratblack, "Arial Black", sans-serif;
      line-height: 10px;
      position: absolute;
      counter-increment: myCounter;
      content: counter(myCounter);
      top: 0;
      left: 0;
      color: #F495B0;
      display: flex;
      align-items: center;
      text-align: center;
      width: 52px;
      height: 72px;
    }
    &::after {
      font-size: 16px;
      font-family: montserratblack, "Arial Black", sans-serif;
      position: absolute;
      content: "метод";
      top: 60px;
      left: 0;
      color: #F495B0;
    }
  }
  &__item-title {
    font-size: 18px;
    font-family: montserratsemibold, "Arial Black", sans-serif;
    margin: 0;
  }
  &__item-about {
    font-size: 14px;
    font-family: montserratregular, Arial, sans-serif;
    margin: 0;
    margin-top: 21px;
  }
  &__container {
    display: flex;
  }

  &__man {
    position: relative;
    margin-top: 35px;
    width: 40%;
  }
  &__slogan {
    display: block;
    position: absolute;
    width: 70%;
    top: 45px;
    left: 20px;
    color: white;
    font-size: 18px;
    line-height: 30px;
    font-family: montserratsemibold, "Arial Black", sans-serif;
    span {
      font-size: 21px;
    }
  }
}

.photogallery {
  padding-top: 110px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  &--inner {
    margin-top: 70px;
    padding-top: 60px;
    background-color: #F8F7FF;
    padding-bottom: 95px;
  }
  &__title {
    max-width: @content-width;
    display: block;
    margin: 0 auto;
    margin-bottom: 45px;
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
    &::before {
      left: calc(80px - 15px);
    }
  }
  .slick-prev {
    left: 375px;
  }
  .slick-next {
    right: 375px;
  }
}

.slider {
  &__block {
    //width: 755px;
    height: 495px;
    margin: 0 auto;
    max-width: 1900px;
  }
  &__photo {
    display: block;
    border-radius: 10px;
    object-fit: cover;
    //height: 495px;
    width: 755px;
  }
}

.consultation {
  padding-top: 110px;
  &__container {
    display: flex;
    max-width: @content-width;
    justify-content: space-between;
    padding-right: 80px;
    padding-left: 80px;
    box-sizing: border-box;
    margin: 0 auto;
    &:last-child {
      margin-top: 120px;
    }
  }
  &__advantages {
    margin-top: 45px;
    margin-left: 20px;
  }
  &__article {
    font-size: 14px;
    font-family: montserratregular, Arial, sans-serif;
    max-width: 620px;
    p {
      padding: 0;
      margin: 0;
      padding-top: 10px;
      line-height: 22px;
    }
    ul {
      padding: 0;
      margin: 0;
      margin-top: 25px;
      list-style: none;
      padding-left: 10px;
    }
    li {
      position: relative;
      padding-bottom: 13px;
      &::before {
        position: absolute;
        content: "";
        width: 2px;
        top: 7px;
        left: -8px;
        height: 2px;
        background-color: @red;
      }
    }
  }
  &__description {
    padding-top: 100px;
  }
  &__image {
    display: block;
    width: 553px;
    margin-right: 20px;
  }
  &__container-inner {
    max-width: 500px;
  }
  &__title {
    margin: 0;
    line-height: 40px;
    font-size: 24px;
    font-family: montserratsemibold, "Arial Black", sans-serif;
    strong {
      color: #573DF2;
    }
  }
  &__about {
    margin: 0;
    margin-top: 25px;
    font-family: montserratregular, "Arial Black", sans-serif;
    font-size: 14px;
    line-height: 21px;
  }
  &__button {
    margin-top: 63px;
    padding: 20px 45px 20px 54px;
  }
}

.faq {
  padding-top: 100px;
  &__title {
    max-width: @content-width;
    margin: 0 auto;
    text-align: left;
    padding-right: 80px;
    padding-left: 80px;
    box-sizing: border-box;
    &::before {
      left: calc(80px - 15px);
    }
  }
  &__list {
    .reset-list;
    max-width: @content-width;
    margin: 0 auto;
    margin-top: 55px;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
  }
  &__item {
    position: relative;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 36px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    &--active .faq__item-title {
      &::before {
        top: calc(50% - 8px);
        right: 40px;
        transform: rotate(-135deg);
      }
      &::after {
        top: calc(50% - 8px);
        right: 28px;
        transform: rotate(135deg);
      }
    }
  }
  &__item-title {
    display: block;
    width: 100%;
    padding-right: 100px;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    font-family: montserratsemibold, "Arial Black", sans-serif;
    &::before {
      position: absolute;
      content: "";
      top: calc(50% - 8px);
      right: 40px;
      transform: rotate(-45deg);
      width: 2px;
      height: 18px;
      background-color: #573DF2;
    }
    &::after {
      position: absolute;
      content: "";
      top: calc(50% - 8px);
      right: 28px;
      transform: rotate(45deg);
      width: 2px;
      height: 18px;
      background-color: #573DF2;
    }
  }
  &__text {
    margin: 0;
    margin-top: 25px;
    font-size: 14px;
    line-height: 23px;
    font-family: montserratregular, Arial, sans-serif;
  }
}

.call {
  margin-top: 80px;
  background: url("../img/outsorce-call-center.jpg") top center no-repeat;
  background-size: cover;
  color: white;
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__title {
    text-align: center;
    margin: 0;
    margin-top: 43px;
    font-size: 30px;
    font-family: montserratsemibold, "Arial Black", sans-serif;
  }
  &__phone {
    white-space: nowrap;
    margin-top: 80px;
    font-size: 36px;
    letter-spacing: 4px;
    font-family: montserratsemibold, "Arial Black", sans-serif;
    color: white;
    text-decoration: none;
  }
  &__description {
    margin: 0 auto;
    margin-top: 65px;
    width: 80%;
    padding-bottom: 43px;
    text-align: center;
    font-family: montserratregular, Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
  }
}

.footer {
  max-width: @content-width;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  &__tel-link {
    color: black;
    text-decoration: none;
  }
  &__first {
    max-width: 450px;
    padding-right: 40px;
    font-size: 10px;
    line-height: 15px;
    font-family: montserratregular, Arial, sans-serif;
  }
  &__second {
    display: flex;
    flex-wrap: wrap;
  }
  &__text {
    opacity: .5;
    margin: 0;
    margin-top: 15px;
  }
  &__copy {
    opacity: .5;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  &__menu-title, &__address-title {
    font-family: montserratsemibold, "Arial Black", sans-serif;
    font-size: 14px;
    margin: 0;
    padding-bottom: 25px;
  }
  &__menu-item {
    font-size: 14px;
    font-family: montserratregular, Arial, sans-serif;
    a {
      display: block;
      padding-bottom: 14px;
      color: black;
      text-decoration: none;
      &:hover, &:active, &:focus {
        color: #573DF2;
      }
    }
  }
  &__menu-list {
    .reset-list;
  }
  &__menu-block {
    display: flex;
    justify-content: space-between;
    width: 270px;
    padding-right: 110px;
  }
  &__address-list {
    .reset-list;
    font-size: 12px;
    line-height: 16px;
    font-family: montserratregular, Arial, sans-serif;
    opacity: .5;
    max-width: 250px;
  }
  &__address-item {
    position: relative;
    padding-bottom: 8px;
    padding-left: 22px;
    svg {
      position: absolute;
      top: calc(50% - 15px);
      left: 0;
      width: 15px;
      height: 15px;
    }
  }
}

.form {
  &__input {
    border: none;
    border-bottom: 1px solid #E0E0E0;
    color: #7F7F7F;
    font-size: 12px;
    font-family: montserratregular, Arial, sans-serif;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-left: 10px;
  }
  &__button {
    font-size: 12px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.feedbacks {
  background-color: #F8F7FF;
  margin-top: 97px;
  padding-top: 65px;
  padding-bottom: 45px;
  &__title {
    display: flex;
    text-align: left;
    align-self: flex-start;
  }
  &__container {
    display: block;
  }
  &__list {
    .reset-list;
    margin-top: 122px;
  }
  &__item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 155px;
  }
  &__photo {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 50%;
  }
  &__text {
    line-height: 21px;
    font-size: 14px;
    font-family: montserratregular, Arial, sans-serif;
    max-width: 560px;
    margin: 0;
  }
  &__name {
    font-size: 14px;
    font-family: montserratsemibold, "Arial Black", sans-serif;
    margin: 0;
    margin-top: 8px;
  }
  &__age {
    font-size: 12px;
    margin: 0;
    margin-top: 3px;
    color: #573df2
  }
}

.warning {
  padding-top: 83px;
  &__container {
    display: flex;
    flex-direction: column;
    padding-right: 180px;
    padding-left: 180px;

    background-image: url("../img/tint.png");
    background-size: 580px;
    background-repeat: no-repeat;
    background-position: bottom -3% right 12%;
  }
  &__title {
    font-size: 24px;
    line-height: 21px;
    font-family: montserratsemibold, Arial, sans-serif;
    margin: 0;
    &:first-child {
      padding-bottom: 60px;
    }
  }
  &__text {
    align-self: flex-start;
    display: block;
    margin: 0;
    margin-bottom: 20px;
    max-width: 920px;
    font-size: 14px;
    line-height: 21px;
    font-family: montserratregular, Arial, sans-serif;
    &:nth-child(4) {
      padding-bottom: 35px;
    }
  }
  &__choice {
    width: 100%;
    box-sizing: border-box;
    padding-top: 35px;
    padding-bottom: 110px;
    margin-top: 25px;
    background-color: @red;
    color: white;
    text-align: center;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
  &__choice-title {
    margin: 0;
    margin-bottom: 22px;
    font-family: montserratblack, "Arial Black", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  &__choice-text {
    margin: 0;
    font-size: 14px;
    font-family: montserratsemibold, "Arial Black", sans-serif;
  }
  &__choice-buttons {
    padding-top: 70px;
    padding-bottom: 120px;
    display: flex;
    //flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  &__button {
    font-size: 14px;
    font-family: montserratsemibold, Arial, sans-serif;
    width: 355px;
    height: 65px;
    &.button--trans {
      &:hover, &:active, &:focus {
        background-color: white;
        color: @red;
      }
    }
  }
}

//////////элементы слик слайдера/////////////////
.my-dots {
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  list-style: none;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.my-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
}

.my-dots li button:before {
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: url('../img/s (1).svg');
  text-align: center;
  background-color: white;
  border-radius: 50%;
  border: 1px solid @red;
}

.my-dots li.slick-active button:before {
  width: 10px;
  height: 10px;
  content: url('../img/s (2).svg');
}

.slick-arrow {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  //top:26%;
  z-index: 100;
  &::before {
    font-size: 50px;
    line-height: 1;
    color: @red;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: -5px;
  }
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.photogallery {
  .slick-slide {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 3.5%;
  }

  .slick-slide:not(.slick-center) {
    height: 460px;
    margin-top: 25px;
    opacity: .5;
  }
  .slick-prev {
    left: 20%;
  }
  .slick-next {
    right: 20%;
  }
}

.header {
  &__nav {
    background-color: white;
  }
  &__nav-toggle {
    display: none;
  }
}

/////медиавыражения///////////////////////////////////////

@media (max-width: @desktop-width) {
  .header__time:last-child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .header {
    &__nav-toggle {
      display: block;
      position: relative;
      width: 70px;
      height: 70px;
      padding: 0;
      border-radius: 50%;
      background-color: white;
      border: 2px solid #E4E4E4;
      cursor: pointer;
      &::before {
        position: absolute;
        content: "";
        top: 24px;
        right: 8px;
        width: 50px;
        height: 4px;
        background-color: @red;
        box-shadow: 0 8px 0 0 @red, 0 16px 0 0 @red;
        border-radius: 1px;
        transition: all 0.3s ease;
      }
      &::after {
        position: absolute;
        content: "Меню";
        top: 23px;
        left: -75px;
        width: 50px;
        height: 4px;
        font-size: 18px;
        font-family: montserratsemibold, Arial, sans-serif;
      }
      &:hover, &:focus {
        opacity: 0.7;
      }
      &--open {
        border: none;
        &::before,
        &::after {
          position: absolute;
          content: " ";
          top: 32px;
          left: 18px;
          width: 35px;
          height: 4px;
          background-color: @red;
          border-radius: 1px;
          box-shadow: none;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
    &__upper-block {
      .header__container {
        flex-direction: column;
      }
    }
    &__lower-block {
      position: relative;
    }
    &__time {
      margin-top: 30px;
    }
    &__nav {
      width: 100%;
    }
  }

  .main-nav {
    &--closed {
      display: none;
    }
    &--opened {
      display: flex;
    }
    &__item {
      width: 25%;
      a {
        justify-content: center;
        font-size: 17px;
      }
    }
  }

  .services {
    justify-content: space-around;
    &__item {
      width: 40%;
    }
  }

  .other-services {
    &__container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .our-specialists {
    &__item {
      width: 40%;
    }
  }

  .convince {
    &__list {
      padding-right: 20px;
    }
    &__man {
      display: none;
    }
  }

  .photogallery {
    padding-top: 40px;
  }

  .photogallery .slick-arrow {
    display: none !important;
  }

  .consultation {
    padding-top: 50px;
    &__container {
      &:last-child {
        margin-top: 50px;
      }
      flex-wrap: wrap;
      justify-content: center;
      &__advantages {
        margin-left: 0;
      }
      &__description {
        padding-top: 50px;
      }
    }
  }

  .warning {
    &__container {
      padding-right: 80px;
      padding-left: 80px;
      background-image: url("../img/tint.png");
      background-size: 450px;
      background-repeat: no-repeat;
      background-position: bottom 4% right 5%;
    }
    &__choice {
      width: 115%;
      padding-bottom: 170px;
    }
    &__choice-title {
      font-size: 22px;
    }
  }
}

@media (max-width: @tablet-width) {
  body {
    overflow-x: hidden;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header {
    &__nav-toggle {
      display: block;
      margin-top: 10px;
      margin-bottom: 20px;
      &::after {
        color: transparent;
      }
    }
    &__container {
      flex-direction: column;
      padding: 0;
    }
    &__time {
      &:last-child {
        padding: 0;
      }
    }
    &__time-list {
      flex-direction: column;
    }
    &__nav {
      flex-direction: column;
    }
  }

  .main-nav {
    margin-top: -15px;
    &__item {
      width: 90%;
      height: 70px;
    }
  }

  .banner {
    padding-bottom: 30px;
    &__left, &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__title {
      font-size: 35px;
      letter-spacing: 1px;
      text-align: center;
    }
    &__services {
      flex-direction: column;
      align-items: center;
      p {
        font-size: 20px;
      }
    }
    &__service {
      width: 90%;
      padding-right: 0;
      padding-bottom: 15px;
    }
    &__service-title {
      font-size: 23px;
    }
    &__slogan {
      text-align: center;
      margin-top: 10px;
    }
    &__advantages {
      align-self: center;
      margin-top: 30px;
    }
    &__button {
      margin-top: 27px;
    }
    &__container {
      padding-left: 0;
      padding-right: 0;
    }
    &__button {
      padding-right: 0;
      padding-left: 0;
      width: 100%;
    }
  }

  .advantages {
    &__item {
      &:first-child {
        width: 180px;
      }
      &:last-child {
        width: 170px;
      }
    }
    &__about {
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .our-services {
    padding-right: 10px;
    align-items: center;
    flex-direction: column;
    &__table {
      margin-bottom: 30px;
    }
    &__name {
      padding-right: 30px;
      font-size: 18px;
    }
  }

  .services {
    justify-content: center;
    &__item {
      width: 90%;
    }
  }

  .other-services {
    &__container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .our-specialists {
    &__item {
      width: 80%;
    }
    &__list {
      justify-content: center;
    }
  }

  .consultation {
    overflow: hidden;
    &__container {
      padding-right: 20px;
      padding-left: 20px;
    }
    &__button {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    &__advantages {
      margin-left: 0;
    }
  }

  .faq {
    padding-top: 50px;
    &__list {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .footer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    &__first {
      padding-right: 0;
    }
    &__form {
      margin: 0 auto;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }

  .warning {
    &__container {
      background: none;
    }
    &__choice {
      clip-path: none;
      width: 100%;
      padding-bottom: 70px;
    }
    &__choice-buttons {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 0;
    }
    &__button {
      margin-bottom: 15px;
      width: 100%;
    }
    &__title {
      text-align: center;
    }
  }

  .photogallery {
    img {
      width: 400px;
    }
    .slick-slide:not(.slick-center) {
      height: auto;
      margin-top: 0;
    }

    .slider__block {
      height: auto;
    }
    &__title {
      padding-left: 15px;
      padding-right: 0;
    }
  }

  .feedbacks {
    .slick-arrow {
      display: none !important;
    }
  }

  .title {
    font-size: 26px;
  }

  .call__phone {
    font-size: 26px;
  }
  .convince {
    padding-left: 40px;
    padding-right: 40px;
  }
}