@import "fonts.css";
* {
  outline: none;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "myriadProRegular", Arial, sans-serif;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.add {
  width: 260px;
  display: flex;
  align-items: flex-end;
}
.add img {
  width: 100%;
}
.title {
  position: relative;
  font-family: montserratsemibold, "Arial Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  z-index: 1;
}
.title--blue::before,
.title--red::before {
  position: absolute;
  content: "";
  width: 180px;
  height: 25px;
  bottom: -3px;
  left: -15px;
  z-index: -1;
}
.title--red::before {
  background-color: #F495B0;
}
.title--blue::before {
  background-color: #AB9EF8;
}
.button {
  border: 2px solid;
  font-family: "montserratsemibold", Arial, sans-serif;
  border-radius: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button--red {
  background-color: #EA2C62;
  color: white;
  border-color: #EA2C62;
}
.button--red:hover,
.button--red:active,
.button--red:focus {
  opacity: 0.7;
}
.button--trans {
  color: #EA2C62;
  background-color: white;
  border-color: #EA2C62;
}
.button--trans:hover,
.button--trans:active,
.button--trans:focus {
  background-color: #EA2C62;
  color: white;
}
.container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 1300px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}
.advantages {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 200px;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(87, 61, 242, 0.7);
  color: white;
}
.advantages__item:first-child {
  width: 265px;
  height: 120px;
  margin-top: -80px;
  margin-right: -30px;
  border-radius: 10px 10px 0 10px;
}
.advantages__item:last-child {
  width: 229px;
  height: 140px;
  border-radius: 0 10px 10px 10px;
  margin-bottom: -60px;
}
.advantages__number {
  margin-top: -7px;
  font-size: 30px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
}
.advantages__about {
  margin-top: 15px;
  font-size: 14px;
  font-family: montserratregular, Arial, sans-serif;
}
.header {
  position: relative;
  padding-top: 19px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.header__upper-block,
.header__lower-block {
  position: relative;
  width: 100%;
}
.header__upper-block {
  padding-bottom: 19px;
  border-bottom: 2px solid #E4E4E4;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 1300px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}
.header__button {
  padding: 10px 30px;
}
.header__time-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header__time {
  position: relative;
  display: block;
  font-size: 12px;
  padding-left: 21px;
  white-space: nowrap;
}
.header__time:last-child {
  padding-left: 55px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
  font-size: 14px;
}
.header__time b {
  font-family: montserratsemibold, Arial, sans-serif;
  padding-right: 5px;
}
.header__time svg {
  top: 0;
  left: 0;
  position: absolute;
}
.header__time a {
  color: black;
  text-decoration: none;
  padding-left: 15px;
}
.header__logo {
  padding-top: 11px;
  padding-right: 170px;
}
.logo {
  position: relative;
  color: black;
  text-decoration: none;
}
.logo svg text {
  font-family: "montserratblack", "Arial Black", sans-serif;
}
.logo svg {
  width: 135px;
}
.logo__text {
  display: block;
  position: absolute;
  top: 10px;
  left: 105px;
  font-family: montserratregular, "Arial Black", sans-serif;
  line-height: 16px;
  text-transform: uppercase;
  width: 200px;
}
.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 64%;
  font-family: montserratregular, sans-serif;
}
.main-nav__item {
  height: 95px;
}
.main-nav a {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  color: black;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
.main-nav a:hover,
.main-nav a:focus,
.main-nav a:active {
  color: #573DF2;
}
.main-nav a:hover::before,
.main-nav a:focus::before,
.main-nav a:active::before {
  position: absolute;
  top: calc(50% + 10px);
  left: 0;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #EA2C62;
}
.banner {
  min-height: 611px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 53px;
  padding-bottom: 67px;
  background: no-repeat top center;
  background-image: url("../img/Onlajn-konsultatsiya-vracha-Sanatorij-Dnepr-Beskid-Truskavets.jpg");
  background-size: cover;
}
.banner--inner {
  background-image: url("../img/jeshoots-com-l0j0DHVWcIE-unsplash.jpg");
}
.banner__title {
  margin: 0;
  font-size: 48px;
  line-height: 65px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
  text-transform: uppercase;
}
.banner__container {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.banner__left {
  max-width: 600px;
}
.banner__services {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 20px;
}
.banner__service {
  box-sizing: border-box;
  padding-right: 40px;
  width: 50%;
}
.banner__service p {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  font-family: montserratregular, Arial, sans-serif;
  font-size: 14px;
}
.banner__service svg {
  width: 28px;
}
.banner__service-title {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
  font-size: 18px;
}
.banner__slogan {
  margin: 0;
  margin-top: 38px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
  font-size: 18px;
}
.banner__slogan strong {
  font-size: 32px;
  color: #EA2C62;
  padding-left: 5px;
  white-space: nowrap;
}
.banner__button {
  padding: 21px 50px;
  border-radius: 35px;
  margin-top: 47px;
}
.banner__advantages {
  margin-top: 50px;
  align-self: flex-end;
}
.our-services {
  display: flex;
  box-sizing: border-box;
  padding-right: 80px;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 93px;
}
.our-services__container {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 850px;
  padding-right: 30px;
}
.our-services__table {
  width: 100%;
  margin-top: 85px;
  font-family: myriadProRegular, Arial, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
}
.our-services__row:nth-child(odd) {
  background-color: #F8F7FF;
}
.our-services__name {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 11px;
  padding-top: 11px;
}
.our-services__price {
  font-weight: normal;
  text-align: left;
}
.services {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__item {
  width: 265px;
  margin-bottom: 28px;
  padding-bottom: 15px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
}
.services__time {
  margin: 0;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: montserratregular, Arial, sans-serif;
  font-size: 14px;
  background-color: #5239E3;
  color: #AB9EF8;
}
.services__img {
  display: block;
  object-fit: cover;
  height: 219px;
  width: 100%;
  margin-bottom: 17px;
}
.services__title,
.services__price,
.services__description {
  padding-left: 16px;
  padding-right: 16px;
}
.services__title {
  margin: 0;
  font-size: 16px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
}
.services__price {
  display: block;
  margin-top: 14px;
  margin-bottom: 10px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
  font-size: 24px;
  color: #EA2C62;
}
.services__description {
  margin: 0;
  font-family: montserratregular, Arial, sans-serif;
  font-size: 12px;
}
.other-services {
  display: flex;
  padding-top: 65px;
}
.other-services--inner {
  padding-top: 95px;
}
.other-services__title {
  align-self: flex-start;
}
.other-services__container {
  flex-direction: column;
}
.other-services__list {
  margin-top: 53px;
}
.our-specialists {
  padding-top: 62px;
}
.our-specialists--inner {
  padding-top: 90px;
}
.our-specialists__container {
  flex-direction: column;
}
.our-specialists__title {
  align-self: flex-start;
}
.our-specialists__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  margin-top: 47px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.our-specialists__item {
  width: 265px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.our-specialists img {
  display: block;
  object-fit: cover;
  height: 264px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 17px;
  width: 100%;
}
.our-specialists__link {
  position: relative;
  align-self: flex-end;
  cursor: pointer;
  color: #573DF2;
  text-decoration: none;
  font-size: 16px;
  font-family: montserratregular, Arial, sans-serif;
  margin-top: 5px;
  padding-right: 33px;
}
.our-specialists__link svg {
  position: absolute;
  top: 0;
  right: 5px;
  height: 20px;
}
.our-specialists__name {
  margin: 0;
  font-size: 16px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}
.our-specialists__about {
  margin: 0;
  font-size: 12px;
  font-family: montserratregular, "Arial Black", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 17px;
}
.convince {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 103px;
  padding-right: 80px;
  padding-left: 80px;
  box-sizing: border-box;
  overflow: hidden;
}
.convince__title {
  text-align: center;
  margin: 0;
  font-family: montserratsemibold, "Arial Black", sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.convince__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 35px;
  padding-right: 120px;
  counter-reset: myCounter;
}
.convince__item {
  position: relative;
  padding-left: 100px;
  padding-bottom: 50px;
}
.convince__item::before {
  font-size: 72px;
  font-family: montserratblack, "Arial Black", sans-serif;
  line-height: 10px;
  position: absolute;
  counter-increment: myCounter;
  content: counter(myCounter);
  top: 0;
  left: 0;
  color: #F495B0;
  display: flex;
  align-items: center;
  text-align: center;
  width: 52px;
  height: 72px;
}
.convince__item::after {
  font-size: 16px;
  font-family: montserratblack, "Arial Black", sans-serif;
  position: absolute;
  content: "метод";
  top: 60px;
  left: 0;
  color: #F495B0;
}
.convince__item-title {
  font-size: 18px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
  margin: 0;
}
.convince__item-about {
  font-size: 14px;
  font-family: montserratregular, Arial, sans-serif;
  margin: 0;
  margin-top: 21px;
}
.convince__container {
  display: flex;
}
.convince__man {
  position: relative;
  margin-top: 35px;
  width: 40%;
}
.convince__slogan {
  display: block;
  position: absolute;
  width: 70%;
  top: 45px;
  left: 20px;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
}
.convince__slogan span {
  font-size: 21px;
}
.photogallery {
  padding-top: 110px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}
.photogallery--inner {
  margin-top: 70px;
  padding-top: 60px;
  background-color: #F8F7FF;
  padding-bottom: 95px;
}
.photogallery__title {
  max-width: 1300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 45px;
  text-align: left;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
}
.photogallery__title::before {
  left: calc(80px - 15px);
}
.photogallery .slick-prev {
  left: 375px;
}
.photogallery .slick-next {
  right: 375px;
}
.slider__block {
  height: 495px;
  margin: 0 auto;
  max-width: 1900px;
}
.slider__photo {
  display: block;
  border-radius: 10px;
  object-fit: cover;
  width: 755px;
}
.consultation {
  padding-top: 110px;
}
.consultation__container {
  display: flex;
  max-width: 1300px;
  justify-content: space-between;
  padding-right: 80px;
  padding-left: 80px;
  box-sizing: border-box;
  margin: 0 auto;
}
.consultation__container:last-child {
  margin-top: 120px;
}
.consultation__advantages {
  margin-top: 45px;
  margin-left: 20px;
}
.consultation__article {
  font-size: 14px;
  font-family: montserratregular, Arial, sans-serif;
  max-width: 620px;
}
.consultation__article p {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  line-height: 22px;
}
.consultation__article ul {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  list-style: none;
  padding-left: 10px;
}
.consultation__article li {
  position: relative;
  padding-bottom: 13px;
}
.consultation__article li::before {
  position: absolute;
  content: "";
  width: 2px;
  top: 7px;
  left: -8px;
  height: 2px;
  background-color: #EA2C62;
}
.consultation__description {
  padding-top: 100px;
}
.consultation__image {
  display: block;
  width: 553px;
  margin-right: 20px;
}
.consultation__container-inner {
  max-width: 500px;
}
.consultation__title {
  margin: 0;
  line-height: 40px;
  font-size: 24px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
}
.consultation__title strong {
  color: #573DF2;
}
.consultation__about {
  margin: 0;
  margin-top: 25px;
  font-family: montserratregular, "Arial Black", sans-serif;
  font-size: 14px;
  line-height: 21px;
}
.consultation__button {
  margin-top: 63px;
  padding: 20px 45px 20px 54px;
}
.faq {
  padding-top: 100px;
}
.faq__title {
  max-width: 1300px;
  margin: 0 auto;
  text-align: left;
  padding-right: 80px;
  padding-left: 80px;
  box-sizing: border-box;
}
.faq__title::before {
  left: calc(80px - 15px);
}
.faq__list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 55px;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
}
.faq__item {
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 36px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}
.faq__item--active .faq__item-title::before {
  top: calc(50% - 8px);
  right: 40px;
  transform: rotate(-135deg);
}
.faq__item--active .faq__item-title::after {
  top: calc(50% - 8px);
  right: 28px;
  transform: rotate(135deg);
}
.faq__item-title {
  display: block;
  width: 100%;
  padding-right: 100px;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
}
.faq__item-title::before {
  position: absolute;
  content: "";
  top: calc(50% - 8px);
  right: 40px;
  transform: rotate(-45deg);
  width: 2px;
  height: 18px;
  background-color: #573DF2;
}
.faq__item-title::after {
  position: absolute;
  content: "";
  top: calc(50% - 8px);
  right: 28px;
  transform: rotate(45deg);
  width: 2px;
  height: 18px;
  background-color: #573DF2;
}
.faq__text {
  margin: 0;
  margin-top: 25px;
  font-size: 14px;
  line-height: 23px;
  font-family: montserratregular, Arial, sans-serif;
}
.call {
  margin-top: 80px;
  background: url("../img/outsorce-call-center.jpg") top center no-repeat;
  background-size: cover;
  color: white;
}
.call__container {
  display: flex;
  flex-direction: column;
}
.call__title {
  text-align: center;
  margin: 0;
  margin-top: 43px;
  font-size: 30px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
}
.call__phone {
  white-space: nowrap;
  margin-top: 80px;
  font-size: 36px;
  letter-spacing: 4px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
  color: white;
  text-decoration: none;
}
.call__description {
  margin: 0 auto;
  margin-top: 65px;
  width: 80%;
  padding-bottom: 43px;
  text-align: center;
  font-family: montserratregular, Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
}
.footer {
  max-width: 1300px;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
}
.footer__tel-link {
  color: black;
  text-decoration: none;
}
.footer__first {
  max-width: 450px;
  padding-right: 40px;
  font-size: 10px;
  line-height: 15px;
  font-family: montserratregular, Arial, sans-serif;
}
.footer__second {
  display: flex;
  flex-wrap: wrap;
}
.footer__text {
  opacity: 0.5;
  margin: 0;
  margin-top: 15px;
}
.footer__copy {
  opacity: 0.5;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
}
.footer__menu-title,
.footer__address-title {
  font-family: montserratsemibold, "Arial Black", sans-serif;
  font-size: 14px;
  margin: 0;
  padding-bottom: 25px;
}
.footer__menu-item {
  font-size: 14px;
  font-family: montserratregular, Arial, sans-serif;
}
.footer__menu-item a {
  display: block;
  padding-bottom: 14px;
  color: black;
  text-decoration: none;
}
.footer__menu-item a:hover,
.footer__menu-item a:active,
.footer__menu-item a:focus {
  color: #573DF2;
}
.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__menu-block {
  display: flex;
  justify-content: space-between;
  width: 270px;
  padding-right: 110px;
}
.footer__address-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 16px;
  font-family: montserratregular, Arial, sans-serif;
  opacity: 0.5;
  max-width: 250px;
}
.footer__address-item {
  position: relative;
  padding-bottom: 8px;
  padding-left: 22px;
}
.footer__address-item svg {
  position: absolute;
  top: calc(50% - 15px);
  left: 0;
  width: 15px;
  height: 15px;
}
.form__input {
  border: none;
  border-bottom: 1px solid #E0E0E0;
  color: #7F7F7F;
  font-size: 12px;
  font-family: montserratregular, Arial, sans-serif;
  padding-bottom: 5px;
  margin-top: 25px;
  margin-left: 10px;
}
.form__button {
  font-size: 12px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.feedbacks {
  background-color: #F8F7FF;
  margin-top: 97px;
  padding-top: 65px;
  padding-bottom: 45px;
}
.feedbacks__title {
  display: flex;
  text-align: left;
  align-self: flex-start;
}
.feedbacks__container {
  display: block;
}
.feedbacks__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 122px;
}
.feedbacks__item {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 155px;
}
.feedbacks__photo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-top: 50px;
  border-radius: 50%;
}
.feedbacks__text {
  line-height: 21px;
  font-size: 14px;
  font-family: montserratregular, Arial, sans-serif;
  max-width: 560px;
  margin: 0;
}
.feedbacks__name {
  font-size: 14px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
  margin: 0;
  margin-top: 8px;
}
.feedbacks__age {
  font-size: 12px;
  margin: 0;
  margin-top: 3px;
  color: #573df2;
}
.warning {
  padding-top: 83px;
}
.warning__container {
  display: flex;
  flex-direction: column;
  padding-right: 180px;
  padding-left: 180px;
  background-image: url("../img/tint.png");
  background-size: 580px;
  background-repeat: no-repeat;
  background-position: bottom -3% right 12%;
}
.warning__title {
  font-size: 24px;
  line-height: 21px;
  font-family: montserratsemibold, Arial, sans-serif;
  margin: 0;
}
.warning__title:first-child {
  padding-bottom: 60px;
}
.warning__text {
  align-self: flex-start;
  display: block;
  margin: 0;
  margin-bottom: 20px;
  max-width: 920px;
  font-size: 14px;
  line-height: 21px;
  font-family: montserratregular, Arial, sans-serif;
}
.warning__text:nth-child(4) {
  padding-bottom: 35px;
}
.warning__choice {
  width: 100%;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 110px;
  margin-top: 25px;
  background-color: #EA2C62;
  color: white;
  text-align: center;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.warning__choice-title {
  margin: 0;
  margin-bottom: 22px;
  font-family: montserratblack, "Arial Black", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.warning__choice-text {
  margin: 0;
  font-size: 14px;
  font-family: montserratsemibold, "Arial Black", sans-serif;
}
.warning__choice-buttons {
  padding-top: 70px;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.warning__button {
  font-size: 14px;
  font-family: montserratsemibold, Arial, sans-serif;
  width: 355px;
  height: 65px;
}
.warning__button.button--trans:hover,
.warning__button.button--trans:active,
.warning__button.button--trans:focus {
  background-color: white;
  color: #EA2C62;
}
.my-dots {
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  list-style: none;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.my-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}
.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
}
.my-dots li button:before {
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: url('../img/s (1).svg');
  text-align: center;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #EA2C62;
}
.my-dots li.slick-active button:before {
  width: 10px;
  height: 10px;
  content: url('../img/s (2).svg');
}
.slick-arrow {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  z-index: 100;
}
.slick-arrow::before {
  font-size: 50px;
  line-height: 1;
  color: #EA2C62;
  opacity: 1;
  display: block;
  position: absolute;
  top: 0;
  left: -5px;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.photogallery .slick-slide {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 3.5%;
}
.photogallery .slick-slide:not(.slick-center) {
  height: 460px;
  margin-top: 25px;
  opacity: 0.5;
}
.photogallery .slick-prev {
  left: 20%;
}
.photogallery .slick-next {
  right: 20%;
}
.header__nav {
  background-color: white;
}
.header__nav-toggle {
  display: none;
}
@media (max-width: 1250px) {
  .header__time:last-child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .header__nav-toggle {
    display: block;
    position: relative;
    width: 70px;
    height: 70px;
    padding: 0;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #E4E4E4;
    cursor: pointer;
  }
  .header__nav-toggle::before {
    position: absolute;
    content: "";
    top: 24px;
    right: 8px;
    width: 50px;
    height: 4px;
    background-color: #EA2C62;
    box-shadow: 0 8px 0 0 #EA2C62, 0 16px 0 0 #EA2C62;
    border-radius: 1px;
    transition: all 0.3s ease;
  }
  .header__nav-toggle::after {
    position: absolute;
    content: "Меню";
    top: 23px;
    left: -75px;
    width: 50px;
    height: 4px;
    font-size: 18px;
    font-family: montserratsemibold, Arial, sans-serif;
  }
  .header__nav-toggle:hover,
  .header__nav-toggle:focus {
    opacity: 0.7;
  }
  .header__nav-toggle--open {
    border: none;
  }
  .header__nav-toggle--open::before,
  .header__nav-toggle--open::after {
    position: absolute;
    content: " ";
    top: 32px;
    left: 18px;
    width: 35px;
    height: 4px;
    background-color: #EA2C62;
    border-radius: 1px;
    box-shadow: none;
  }
  .header__nav-toggle--open::before {
    transform: rotate(45deg);
  }
  .header__nav-toggle--open::after {
    transform: rotate(-45deg);
  }
  .header__upper-block .header__container {
    flex-direction: column;
  }
  .header__lower-block {
    position: relative;
  }
  .header__time {
    margin-top: 30px;
  }
  .header__nav {
    width: 100%;
  }
  .main-nav--closed {
    display: none;
  }
  .main-nav--opened {
    display: flex;
  }
  .main-nav__item {
    width: 25%;
  }
  .main-nav__item a {
    justify-content: center;
    font-size: 17px;
  }
  .services {
    justify-content: space-around;
  }
  .services__item {
    width: 40%;
  }
  .other-services__container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .our-specialists__item {
    width: 40%;
  }
  .convince__list {
    padding-right: 20px;
  }
  .convince__man {
    display: none;
  }
  .photogallery {
    padding-top: 40px;
  }
  .photogallery .slick-arrow {
    display: none !important;
  }
  .consultation {
    padding-top: 50px;
  }
  .consultation__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .consultation__container:last-child {
    margin-top: 50px;
  }
  .consultation__container__advantages {
    margin-left: 0;
  }
  .consultation__container__description {
    padding-top: 50px;
  }
  .warning__container {
    padding-right: 80px;
    padding-left: 80px;
    background-image: url("../img/tint.png");
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: bottom 4% right 5%;
  }
  .warning__choice {
    width: 115%;
    padding-bottom: 170px;
  }
  .warning__choice-title {
    font-size: 22px;
  }
}
@media (max-width: 659px) {
  body {
    overflow-x: hidden;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__nav-toggle {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .header__nav-toggle::after {
    color: transparent;
  }
  .header__container {
    flex-direction: column;
    padding: 0;
  }
  .header__time:last-child {
    padding: 0;
  }
  .header__time-list {
    flex-direction: column;
  }
  .header__nav {
    flex-direction: column;
  }
  .main-nav {
    margin-top: -15px;
  }
  .main-nav__item {
    width: 90%;
    height: 70px;
  }
  .banner {
    padding-bottom: 30px;
  }
  .banner__left,
  .banner__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner__title {
    font-size: 35px;
    letter-spacing: 1px;
    text-align: center;
  }
  .banner__services {
    flex-direction: column;
    align-items: center;
  }
  .banner__services p {
    font-size: 20px;
  }
  .banner__service {
    width: 90%;
    padding-right: 0;
    padding-bottom: 15px;
  }
  .banner__service-title {
    font-size: 23px;
  }
  .banner__slogan {
    text-align: center;
    margin-top: 10px;
  }
  .banner__advantages {
    align-self: center;
    margin-top: 30px;
  }
  .banner__button {
    margin-top: 27px;
  }
  .banner__container {
    padding-left: 0;
    padding-right: 0;
  }
  .banner__button {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
  .advantages__item:first-child {
    width: 180px;
  }
  .advantages__item:last-child {
    width: 170px;
  }
  .advantages__about {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .our-services {
    padding-right: 10px;
    align-items: center;
    flex-direction: column;
  }
  .our-services__table {
    margin-bottom: 30px;
  }
  .our-services__name {
    padding-right: 30px;
    font-size: 18px;
  }
  .services {
    justify-content: center;
  }
  .services__item {
    width: 90%;
  }
  .other-services__container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .our-specialists__item {
    width: 80%;
  }
  .our-specialists__list {
    justify-content: center;
  }
  .consultation {
    overflow: hidden;
  }
  .consultation__container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .consultation__button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .consultation__advantages {
    margin-left: 0;
  }
  .faq {
    padding-top: 50px;
  }
  .faq__list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer__first {
    padding-right: 0;
  }
  .footer__form {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .warning__container {
    background: none;
  }
  .warning__choice {
    clip-path: none;
    width: 100%;
    padding-bottom: 70px;
  }
  .warning__choice-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 0;
  }
  .warning__button {
    margin-bottom: 15px;
    width: 100%;
  }
  .warning__title {
    text-align: center;
  }
  .photogallery img {
    width: 400px;
  }
  .photogallery .slick-slide:not(.slick-center) {
    height: auto;
    margin-top: 0;
  }
  .photogallery .slider__block {
    height: auto;
  }
  .photogallery__title {
    padding-left: 15px;
    padding-right: 0;
  }
  .feedbacks .slick-arrow {
    display: none !important;
  }
  .title {
    font-size: 26px;
  }
  .call__phone {
    font-size: 26px;
  }
  .convince {
    padding-left: 40px;
    padding-right: 40px;
  }
}
