@tablet-width: 659px;
@desktop-width: 1200px;
@mobile-width-only: 1199px;
@phone-width-only: 658px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@import "components/fonts";
@import "components/mixins";
@import "components/animations";
@import "components/visually-hidden";
@import "components/body";
@import "components/logo";
@import "components/slider-toggle";
@import "components/main-table";
@import "components/social";
@import "components/copyright";
@import "components/button";
@import "components/description-slogan";

@import "components/page-header";
@import "components/main-nav";
@import "components/site-list";
@import "components/upper-block";
@import "components/download-app";
@import "components/slogan";
@import "components/function";
@import "components/effect";
@import "components/reviews";
@import "components/packages";
@import "components/contacts";
@import "components/map";
@import "components/page-footer";
@import "components/questionary";
@import "components/main-form";
@import "components/gallery";
@import "components/comment";
@import "components/upload";
