@bk-dark-grey: #292929;
@bk-light-grey: #292929;
@tablet-width: 769px;
@desktop-width: 1200px;
@mobile-width-only: 768px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

.reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-image: url("../img/background.jpg");
  font-family: "Proxima Nova", Arial, sans-serif;
}

.main, .header, .footer {
  max-width: 1920px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

.page-header {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  &__logo {
    height: 85px;
    text-align: center;
    img {
      height: 85px;
      width: 226px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  &__nav {
    display: flex;
    a {
      color: black;
      text-decoration: none;
      margin-left: 60px;
    }
  }
  &__block {
    display: flex;
    align-items: center;
    max-width: 800px;
  }
  &__nav {
    display: flex;
  }
  button {
    margin-left: 60px;
    font-size: 0px;
    line-height: 0px;
    background-image: url("../img/flag.jpg");
    width: 37px;
    height: 25px;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.upper-block {
  max-width: 1050px;
  margin: 0 auto;
  text-align: center;
  line-height: 31px;
  font-size: 16px;
  color: lightgrey;
  h1 {
    margin-top: 30px;
    color: black;
  }
}

.main-table {
  max-width: 1220px;
  margin: 0 auto;
  background-color: white;
}

.main-table__list {
  .reset-list;
}

.main-table__item {
  display: flex;
  div {
    border: 1px solid lightgray;
  }
  &-casino {
    width: 221px;
  }
  &-bonus {
    width: 221px;
  }
  &-payout {
    width: 318px
  }
  &-bonus {
    width: 121px;
  }
  &-deposits {
    width: 134px;
  }
  &-pay {
    width: 210px;
  }
}

///////////////////////////////////////

.header {
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
}

.inner-table {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 40px;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 24px;
    padding-left: 36px;
    box-sizing: border-box;
    padding-top: 25px;
    padding-right: 62px;
  }
  &__list {
    .reset-list;
    color: #777777;
    font-size: 16px;
    line-height: 31px;
  }
  h4 {
    font-size: 24px;
    line-height: 30px;
    color: black;
    margin: 0;
  }
  button {
    width: 190px;
    height: 40px;
    background-color: #4AD7A1;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    color: white;
    cursor: pointer;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    max-width: 655px;
  }
  &__item-casino {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 45px;
  }
}

.footer {
  width: 100%;
  padding-top: 35px;
  background-color: rgba(255,255,255,0.5);
  &__main {
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__container {
    display: flex;
  }
  &__list-container {
    margin-right: 70px;
  }
  &__list {
    .reset-list;
  }
  &__list-title {
    font-size: 16px;
    margin: 0;
    color: black;
    margin-bottom: 25px;
  }
  &__item {
    font-size: 16px;
    color: #d0d0d0;
    margin-bottom: 16px;
  }
  &__social-list {
    display: flex;
    .reset-list;
  }
  &__social-item {
    font-size: 0;
    line-height: 0;
    background-image: url("../img/face.jpg");
    display: block;
    width: 21px;
    height: 21px;
    margin-right: 25px;
    cursor: pointer;
  }
}

.header__nav {
  flex-wrap: wrap;
  a {
    margin-bottom: 15px;
  }
}

@media (max-width: 850px) {
  .inner-table__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button {
      margin-bottom: 20px;
    }
  }
}

.stats {
  position: relative;
  //width: 320px;
  //margin: 0 auto;
  width: auto;
  z-index: 3;
  &__header {
    padding: 30px 40px 25px 40px;
    color: black;
    background-color: white;
  }
  &__list {
    width: 100%;
    border-collapse: collapse;
    tr {
      color: white;
      background-color: #404040;
      &:nth-child(2) {
        background-color: #4E4E4E;
      }
      &:nth-child(3) {
        background-color: #353535;
      }
    }
  }
  &__slogan {
    display: block;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  &__intro {
    margin: 0;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }
  &__legend {
    display: block;
    font-size: 20px;
    left: 20px;
    &--top {
      display: none;
    }
    &--bottom {
      padding-top: 20px;
      padding-bottom: 14px;
      text-align: center;
      color: rgba(255, 255, 255, 0.3);
      background-color: @bk-dark-grey;
    }
    sup {
      top: -0.25em;
      font-size: 90%;
    }
  }
  &__value,
  &__field {
    width: 50%;
    padding: 20px;
    padding-bottom: 19px;
    vertical-align: top;
  }
  &__value {
    padding-right: 0;
    font-size: 40px;
    line-height: 40px;
    sup {
      top: -0.35em;
      margin-left: 5px;
    }
  }
  &__field {
    padding-left: 0;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
  }
}

@media (min-width: @tablet-width) {
  .stats {
    //width: 640px;
    width: 84%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -185px;
    &__list {
      display: flex;
      tbody {
        display: flex;
        flex-wrap: wrap;
      }
      tr {
        //width: 250px;
        box-sizing: border-box;
        width: 50%;
        padding: 25px 35px 28px;
      }
      td {
        display: block;
        width: auto;
        padding: 0;
      }
    }
    &__value {
      margin-bottom: 7px;
      font-size: 72px;
      line-height: 72px;
    }
    &__field {
      font-size: 20px;
      line-height: 27px;
      text-align: left;
      br {
        display: none;
      }
    }
    &__header {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &::before {
        position: absolute;
        content: "";
        top: 27px;
        left: -15px;
        border: 15px solid transparent;
        border-bottom-color: white;
        transform: rotate(45deg);
      }
    }
    &__slogan {
      //width: 240px;
      width: 50%;
      margin-bottom: 18px;
      font-size: 40px;
      line-height: 40px;
      text-align: left;
      text-transform: none;
    }
    &__intro {
      //width: 210px;
      width: 37.5%;
      margin-top: 5px;
      padding-right: 37px;
      text-align: left;
    }
    &__legend {
      &--top {
        display: block;
        //width: 240px;
        width: 50%;
        color: rgba(0, 0, 0, 0.3);
      }
      &--bottom {
        display: none;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .stats {
    display: flex;
    //width: 960px;
    margin-top: -160px;
    &__header {
      //flex-shrink: 0;
      //display: block;
      flex-grow: 1;
      flex-direction: column;
      width: 240px;
      &::before {
        top: 20px;
      }
    }
    &__list {
      display: flex;
      flex-grow: 1;
      width: 640px;
    }
    &__slogan {
      width: auto;
      margin-bottom: 42px;
    }
    &__intro {
      width: auto;
      margin-bottom: 32px;
      padding-right: 30px;
      padding-left: 0;
    }
    &__legend {
      &--top {
        width: auto;
        margin-top: auto;
      }
    }
  }
}

.user-list {
  .reset-list();
  &__login {
    position: relative;
    display: block;
    padding: 17px 21px 17px 49px;
    line-height: 18px;
    color: white;
    text-decoration: none;
  }
  &__login-icon {
    position: absolute;
    top: 17px;
    left: 21px;
    width: 16px;
    height: 16px;
    opacity: 0.3;
    fill: white;
  }
}

@media (min-width: @tablet-width) {
  .user-list {
    width: 60px;
    &__login {
      width: 60px;
      height: 70px;
      padding: 0;
      font-size: 0;
      &:hover .user-list__login-icon {
        opacity: 1;
        fill: #826550;
      }
      &:active .user-list__login-icon {
        opacity: 0.3;
        fill: white;
      }
    }
    &__login-icon {
      top: 29px;
      left: 12px;
    }
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    width: auto;
    max-width: 160px;
    &__login {
      position: relative;
      width: auto;
      height: auto;
      padding: 25px 30px 23px 50px;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: black;
        background-color: white;
      }
      &:active {
        color: rgba(0, 0, 0, 0.3);
        background-color: white;
      }
      &:hover .user-list__login-icon {
        opacity: 1;
        fill: black;
      }
      &:active .user-list__login-icon {
        opacity: 0.1;
      }
    }
    &__login-icon {
      left: 15px;
    }
  }
}

.site-list {
  font-weight: bold;
  a {
    display: block;
    padding: 12px 21px;
    padding-bottom: 13px;
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #826550;
    border-top: 1px solid #886E5D;
    border-bottom: 1px solid #71543F;
    &[href] {
      &:hover {
        background-color: #755A46;
        border-top-color: #755A46;
      }
      &:active {
        color: rgba(255, 255, 255, 0.3);
        background-color: #6A4D38;
        border-top-color: #6A4D38;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    //justify-content: flex-start;
    width: 570px;
    &__item {
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
      &--active {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: -3px;
          left: 0;
          height: 3px;
          background: #826550;
        }
      }
      a {
        padding: 25px 0 23px 0;
        background: none;
        border: none;
        &[href] {
          &:hover {
            color: #826550;
            background-color: black;
          }
          &:active {
            color: white;
            background-color: black;
            opacity: 0.3;
          }
        }
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 780px;
    justify-content: flex-start;
    &__item {
      margin-right: 0;
      &--active {
        &:after {
          right: 30px;
          left: 30px;
        }
      }
      a {
        padding-right: 31px;
        padding-left: 31px;
        &[href] {
          &:hover {
            color: black;
            background-color: white;
          }
          &:active {
            color: rgba(0, 0, 0, 0.3);
            background-color: white;
            opacity: 1;
          }
        }
      }
    }
  }
}
