<footer class="footer">
    <div class="footer__wrapper wrapper">
        <a class="footer__logo logo" href="index.html"><img src="img/logo.svg" alt="MONTEES"></a>

        <ul class="footer__nav-list">
            <li class="footer__nav-item active"><a href="#">HOME</a></li>
            <li class="footer__nav-item"><a href="#">ABOUT US</a></li>
            <li class="footer__nav-item"><a href="#">INVESTMENT PLANS</a></li>
            <li class="footer__nav-item"><a href="#">FAQ</a></li>
            <li class="footer__nav-item"><a href="#">BANNERS</a></li>
            <li class="footer__nav-item"><a href="#">STATISTICS</a></li>
            <li class="footer__nav-item"><a href="#">CONTACT US</a></li>
        </ul>

        <div class="footer__socials socials">
            <p class="socials__title">FOLLOW US:</p>

            <a href="#">
                <svg class="socials__icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#facebook"></use>
                </svg>
            </a>

            <a href="#">
                <svg class="socials__icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#instagram"></use>
                </svg>
            </a>

            <a href="#">
                <svg class="socials__icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#telegram"></use>
                </svg>
            </a>
        </div>
    </div>

    <div class="footer__wrapper wrapper">
        <p class="footer__copy">Copiryght © 2021 MONTEES blockchain
            technology company all rights reserved</p>

        <div class="footer__contact contact">
            <img class="contact__icon" src="img/phone-call.svg" alt="">
            <div class="contact__about-block">
                <p class="contact__title">CONTACT US:</p>
                <a href="#" class="contact__link">
                    <svg class="contact__link-icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#telegram"></use>
                    </svg>
                    Montees_Support
                </a>

                <a href="mailto:support@monteesupport.org" class="contact__link">
                    support@monteesupport.org
                </a>
            </div>
        </div>

        <div class="footer__contact contact">
            <img class="contact__icon" src="img/navigator.svg" alt="">
            <div class="contact__about-block">
                <p class="contact__title">COMPANY ADRESS:</p>

                <p class="contact__text">
                    22, Stephenson Way, London,
                    2HD, UNITED KINGDOM
                </p>
            </div>
        </div>

        <ul class="footer__currencies">
            <li class="footer__currency"><img src="img/bitcoincash.png" alt="bitcoincash"></li>
            <li class="footer__currency"><img src="img/dogecoin.png" alt="dogecoin"></li>
            <li class="footer__currency"><img src="img/litecoin.png" alt="litecoin"></li>
            <li class="footer__currency"><img src="img/perfect-money.png" alt="perfect-money"></li>
            <li class="footer__currency"><img src="img/bitcoin.png" alt="bitcoin"></li>
            <li class="footer__currency"><img src="img/etherium.png" alt="etherium"></li>
        </ul>
    </div>
</footer>