<div class="lk-menu">
  <div class="lk-menu__main-info">
    <div class="lk-menu__balance">
      <p class="lk-menu__balance-name">YOUR BALANCE</p>
      <p class="lk-menu__balance-value">0.05 $</p>
    </div>

    <div class="lk-menu__link-block">
      <p class="lk-menu__link-name">TELEGRAM:</p>
      <a href="#" class="lk-menu__link">
        <svg class="lk-menu__link-icon" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="#telegram"></use>
        </svg>
        Montees_Support
      </a>
    </div>

    <div class="lk-menu__link-block">
      <p class="lk-menu__link-name">SUPPRORT:</p>
      <a href="mailto:support@monteesupport.org" class="lk-menu__link">support@monteesupport.org</a>
    </div>
  </div>

  <nav class="lk-menu__nav">
    <ul class="lk-menu__nav-list">
      <li class="lk-menu__nav-item active"><a href="lk-account.html">ACCOUNT</a></li>
      <li class="lk-menu__nav-item"><a href="lk-deposits.html">MY DEPOSITS</a></li>
      <li class="lk-menu__nav-item"><a href="lk-settings.html">SETTINGS</a></li>
      <li class="lk-menu__nav-item"><a href="lk-make-deposit.html">MAKE DEPOSIT</a></li>
      <li class="lk-menu__nav-item"><a href="lk-history.html">HISTORY</a></li>
      <li class="lk-menu__nav-item"><a href="lk-withdrawal.html">WITHDRAWAL</a></li>
      <li class="lk-menu__nav-item"><a href="lk-referrals.html">REFERRALS</a></li>
      <li class="lk-menu__nav-item"><a href="lk-adverting.html">ADVERTING LINK</a></li>
      <li class="lk-menu__nav-item"><a href="#">LOGOUT</a></li>
    </ul>
    <p class="lk-menu__copy">Copyright © 2021 Montees</p>
  </nav>
</div>