<footer class="footer">
    <div class="footer__wrapper wrapper">
        <div class="footer__nav">
            <div class="footer__nav-block">
                <a class="footer__title" href="#">каталог пресс-релизов</a>
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">Импортозамещение</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Производство</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Информационные технологии</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Финансы</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Услуги</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Торговля</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Наука и образование</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Отдых и туризм</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Политика</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Общество</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Культура</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Спорт</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Красота и здоровье</a></li>
                </ul>
            </div>

            <div class="footer__nav-block">
                <a class="footer__title" href="#">пиарщикам и журналистам</a>
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">ПР-менеджеру на заметку</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Журналисту на заметку</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Оптимизатору на заметку</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Реклама на сайте</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Справочники и словари</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Правила публикации пресс&#8209;релизов</a>
                    </li>
                    <li class="footer__item"><a href="#" class="footer__link">Помощь</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Пользовательское соглашение</a></li>
                    <li class="footer__item"><a href="#" class="footer__link footer__link--red">Регистрация</a></li>
                    <li class="footer__item-title"><a href="#" class="footer__title">база данных компаний</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__manage">
            <a class="footer__button button button--trans" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" x="0" y="0"
                     viewBox="0 0 426.667 426.667" style="enable-background:new 0 0 512 512" xml:space="preserve"
                     class=""><g><path d="M405.332 192H234.668V21.332C234.668 9.559 225.109 0 213.332 0 201.559 0 192 9.559 192 21.332V192H21.332C9.559 192 0 201.559 0 213.332c0 11.777 9.559 21.336 21.332 21.336H192v170.664c0 11.777 9.559 21.336 21.332 21.336 11.777 0 21.336-9.559 21.336-21.336V234.668h170.664c11.777 0 21.336-9.559 21.336-21.336 0-11.773-9.559-21.332-21.336-21.332zm0 0" fill="white" data-original="white" class=""></path></g></svg>
                добавить пресс-релиз
            </a>
            <a class="footer__mail" href="#">info@forpress.ru</a>
        </div>
    </div>


    <div class="footer__bottom-wrapper wrapper">
        <a href="index.html" class="footer__logo logo">
            <img class="logo__img" src="img/logo.svg" alt="Forpress">
        </a>

        <p class="footer__copy">© 2007-2023 «FORPRESS»</p>
    </div>
</footer>

<script src="script/jquery.min.js"></script>
<script src="script/swiper/swiper-bundle.min.js"></script>
<script src="script/main.js"></script>