<header class="header">
    <div class="header__wrapper wrapper">

        <button class="header__menu-btn"></button>

        <a href="index.html" class="header__logo logo">
            <img class="logo__img" src="img/logo.svg" alt="Forpress">
        </a>

        <form class="header__city city-select" method="post" action="#">
            <label class="city-select__label">
                <select class="city-select__item">
                    <option value="Москва">Москва</option>
                    <option value="Ростов">Ростов</option>
                </select>
            </label>
        </form>

        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item nav__item--big">
                    <a href="#">каталог пресс-релизов</a>
                    <div class="nav__sublist-container">
                        <ul class="nav__sublist">
                            <li class="nav__subitem"><a href="#">Импортозамещение</a></li>
                            <li class="nav__subitem">
                                <a href="#">Производство</a>
                                <div class="nav__sub-sublist-container">
                                    <ul class="nav__sub-sublist">
                                        <li class="nav__sub-subitem"><a href="#">АПК, рыболовство и пищевая
                                            промышленность</a></li>
                                        <li class="nav__sub-subitem"><a href="#">Геологоразведка и добыча ресурсов </a>
                                        </li>
                                        <li class="nav__sub-subitem"><a href="#">Деревообработка и ЦБК</a></li>
                                        <li class="nav__sub-subitem"><a href="#">Легкая промышленность</a></li>
                                        <li class="nav__sub-subitem"><a href="#">Машиностроение </a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav__subitem"><a href="#">Информационные технологии</a></li>
                            <li class="nav__subitem"><a href="#">Финансы</a></li>
                            <li class="nav__subitem"><a href="#">Услуги</a></li>
                            <li class="nav__subitem"><a href="#">Торговля</a></li>

                            <li class="nav__subitem">
                                <a href="#">Наука и образование</a>
                                <div class="nav__sub-sublist-container">
                                    <ul class="nav__sub-sublist">
                                        <li class="nav__sub-subitem"><a href="#">Вузы</a></li>
                                        <li class="nav__sub-subitem"><a href="#">Курсы, семинары тренинги</a></li>
                                        <li class="nav__sub-subitem"><a href="#">НИОКР и инновации</a></li>
                                        <li class="nav__sub-subitem"><a href="#">Образование за рубежом</a></li>
                                        <li class="nav__sub-subitem"><a href="#">Школы, гимназии, лицеи</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav__subitem"><a href="#">Отдых и туризм</a></li>
                            <li class="nav__subitem"><a href="#">Политика</a></li>
                            <li class="nav__subitem"><a href="#">Общество</a></li>
                            <li class="nav__subitem"><a href="#">Культура</a></li>
                            <li class="nav__subitem"><a href="#">Спорт</a></li>
                            <li class="nav__subitem"><a href="#">красота и здоровье</a></li>

                            <li class="nav__more">
                                <a class="nav__more-link">Ещё</a>

                                <ul class="nav__more-list">
                                    <li class="nav__more-item"><a href="#">Финансы</a></li>
                                    <li class="nav__more-item"><a href="#">Услуги</a></li>
                                    <li class="nav__more-item"><a href="#">Торговля</a></li>
                                    <li class="nav__more-item"><a href="#">Наука и образование</a></li>
                                    <li class="nav__more-item"><a href="#">Отдых и туризм</a></li>
                                    <li class="nav__more-item"><a href="#">Политика</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav__item nav__item--big"><a class="nav__link" href="#">пиарщикам и журналистам</a></li>

                <li class="nav__item"><a class="nav__link" href="#">база данных компаний</a></li>

                <li class="nav__item"><a class="nav__link" href="#">помощь</a></li>
            </ul>

            <a class="nav__button button button--trans" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" x="0" y="0"
                     viewBox="0 0 426.667 426.667" style="enable-background:new 0 0 512 512" xml:space="preserve"
                     class=""><g><path d="M405.332 192H234.668V21.332C234.668 9.559 225.109 0 213.332 0 201.559 0 192 9.559 192 21.332V192H21.332C9.559 192 0 201.559 0 213.332c0 11.777 9.559 21.336 21.332 21.336H192v170.664c0 11.777 9.559 21.336 21.332 21.336 11.777 0 21.336-9.559 21.336-21.336V234.668h170.664c11.777 0 21.336-9.559 21.336-21.336 0-11.773-9.559-21.332-21.336-21.332zm0 0" fill="white" data-original="white" class=""></path></g></svg>
                добавить пресс-релиз
            </a>
        </nav>

        <div class="header__manage">
            <a class="header__button button button--trans" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" x="0" y="0"
                     viewBox="0 0 426.667 426.667" style="enable-background:new 0 0 512 512" xml:space="preserve"
                     class=""><g><path d="M405.332 192H234.668V21.332C234.668 9.559 225.109 0 213.332 0 201.559 0 192 9.559 192 21.332V192H21.332C9.559 192 0 201.559 0 213.332c0 11.777 9.559 21.336 21.332 21.336H192v170.664c0 11.777 9.559 21.336 21.332 21.336 11.777 0 21.336-9.559 21.336-21.336V234.668h170.664c11.777 0 21.336-9.559 21.336-21.336 0-11.773-9.559-21.332-21.336-21.332zm0 0" fill="white" data-original="white" class=""></path></g></svg>
                добавить пресс-релиз
            </a>
            <a class="header__search" href="#"></a>
            <a class="header__account" href="#"></a>
        </div>
    </div>
</header>