<header class="header">
    <div class="header__wrapper wrapper">
        <a href="index.html" class="header__logo logo">
            <img class="logo__img" src="img/logo.svg" alt="Bullot">
        </a>

        <nav class="header__nav main-nav">
            <div class="main-nav__container">
                <ul class="main-nav__list">
                    <li class="main-nav__item"><a class="main-nav__link" href="#">Company</a>
                        <div class="main-nav__dropdown">
                            <div class="main-nav__section">
                                <h3 class="main-nav__subtitle">Company</h3>
                                <ul class="main-nav__sublist">
                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            <div class="main-nav__icon-block">
                                                <img class="main-nav__icon" src="img/main-nav-icon-1.svg" alt="">
                                            </div>
                                            Why choose Bullot
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            <div class="main-nav__icon-block">
                                                <img class="main-nav__icon" src="img/main-nav-icon-2.svg" alt="">
                                            </div>
                                            Careers
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            <div class="main-nav__icon-block">
                                                <img class="main-nav__icon" src="img/main-nav-icon-3.svg" alt="">
                                            </div>
                                            Partners
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            <div class="main-nav__icon-block">
                                                <img class="main-nav__icon" src="img/main-nav-icon-4.svg" alt="">
                                            </div>
                                            Help Center
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            <div class="main-nav__icon-block">
                                                <img class="main-nav__icon" src="img/main-nav-icon-5.svg" alt="">
                                            </div>
                                            Contact us
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="main-nav__item">
                        <a class="main-nav__link" href="#">Investing</a>

                        <div class="main-nav__dropdown">
                            <div class="main-nav__section">
                                <h3 class="main-nav__subtitle">Accounts</h3>
                                <ul class="main-nav__sublist">
                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            Account Types
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            Standard
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            Turbo
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            Bully
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            Pro
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            Expert
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            Prestige
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            Elite Plus
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="main-nav__section">
                                <h3 class="main-nav__subtitle">Markets</h3>
                                <ul class="main-nav__sublist">
                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            Stocks
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            Crypto
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            Indices
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            Commodities
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            Futures
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="main-nav__item">
                        <a class="main-nav__link" href="#">Tools & Education</a>

                        <div class="main-nav__dropdown">

                            <div class="main-nav__section">
                                <h3 class="main-nav__subtitle">Tools</h3>
                                <ul class="main-nav__sublist">
                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            <div class="main-nav__icon-block">
                                                <img class="main-nav__icon" src="img/main-nav-icon-6.svg" alt="">
                                            </div>
                                            Economic Calendar
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="main-nav__section">
                                <h3 class="main-nav__subtitle">Education</h3>
                                <ul class="main-nav__sublist">
                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            <div class="main-nav__icon-block">
                                                <img class="main-nav__icon" src="img/main-nav-icon-7.svg" alt="">
                                            </div>
                                            Webinars
                                        </a>
                                    </li>

                                    <li class="main-nav__subitem">
                                        <a class="main-nav__sublink" href="#">
                                            <div class="main-nav__icon-block">
                                                <img class="main-nav__icon" src="img/main-nav-icon-8.svg" alt="">
                                            </div>
                                            Blog
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="header__languages languages">
            <p class="languages__header">Eng</p>

            <ul class="languages__list">
                <li class="languages__item active"><a class="languages__link">Eng</a></li>

                <li class="languages__item"><a class="languages__link" href="#">Рус</a></li>
            </ul>
        </div>

        <div class="header__buttons">
            <a class="header__button button button--white" href="#">Login</a>
            <a class="header__button button button--red" href="#">Get started</a>
        </div>

        <button class="header__menu-btn"></button>
    </div>
</header>