body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: black;
  text-transform: uppercase;
}
body a {
  text-decoration: none;
}
body ul,
body ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
body *::selection {
  background: rgba(129, 179, 210, 0.5);
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
section {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  /* Параметры тени */
}
.button {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 16px;
  font: inherit;
  text-align: center;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.button.blue {
  background-color: #81B3D2;
}
.button.blue:hover,
.button.blue:focus {
  background-color: #669EC0;
}
.button.blue:active {
  background-color: #5496BD;
  color: #88B6D1;
}
.button.blue.disabled,
.button.blue:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #81B3D2;
}
.button.brown {
  background-color: #766357;
}
.button.brown:hover,
.button.brown:focus {
  background-color: #604E43;
}
.button.brown:active {
  background-color: #503E33;
  color: #857871;
}
.button.brown.disabled,
.button.brown:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #766357;
}
.button.transparent {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 3px;
}
.button.transparent:hover,
.button.transparent:focus {
  background-color: white;
  color: black;
}
.button.transparent:active {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.container-fix {
  max-width: 1200px;
  min-width: 570px;
  margin: 0 auto;
}
.container.main {
  margin-bottom: -120px;
}
.main-header {
  top: 0;
  width: 100%;
  position: absolute;
}
.main-header .container-fix {
  background-color: white;
}
.main-header a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: middle;
  font-weight: 700;
  line-height: 26px;
  color: black;
}
.main-header a:hover {
  color: #81B3D2;
}
.main-header .current-page {
  color: #766357;
}
.main-header .current-page:hover {
  color: #766357;
}
.main-header-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-header-list img {
  position: absolute;
  left: calc(50% - 70px);
  margin: 0;
  padding: 0;
  top: 0;
}
.welcome {
  margin: 0 auto;
  line-height: 26px;
}
.welcome strong {
  display: block;
  font-size: 20.5px;
  font-weight: normal;
  padding-bottom: 11px;
}
.welcome-mountains {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #89B1CF url("../img/background_photo.png") no-repeat top center;
}
.welcome-mountains-top {
  padding-top: 132px;
}
.welcome-mountains-second {
  padding-top: 43px;
}
.welcome-mountains-third {
  padding-top: 49px;
  padding-bottom: 14px;
}
.welcome-shape {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  height: 273px;
  background: transparent url("../img/Shape.png") no-repeat top center;
}
.welcome-shape div {
  padding-top: 105px;
}
.about-list > li {
  display: flex;
  text-align: center;
}
.about-list-main {
  width: calc(100% / 3);
}
.about-list-main.blue {
  padding: 2.3% 3% 3% 3%;
  width: 28%;
  max-height: 230px;
  color: white;
  background-color: #81B3D2;
}
.about-list-main.gray {
  max-height: 230px;
  padding: 2.3% 3% 3% 3%;
  background-color: #EEEEEE;
}
.about-list-main.white {
  max-height: 256px;
  padding: 5% 4% 5% 4%;
  background-color: white;
}
.about-list-main h2,
.about-list-main h3 {
  font-size: 21px;
}
.about-list-main h3 {
  font-weight: 700;
}
.about-list-main h2,
.about-list-main p {
  padding-bottom: 8px;
}
.about-list-photo {
  width: calc((100% / 3) * 2);
}
.about-list-photo.first {
  background: url("../img/photo_first.png") no-repeat top center;
}
.about-list-photo.second {
  background: url("../img/photo_second.png") no-repeat top center;
}
.interested {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.interested-head {
  padding-top: 40px;
}
.interested-head h2 {
  text-align: center;
  padding: 0;
  margin: 11px 0 22px 0;
  font-size: 30px;
  line-height: 36px;
}
.interested-head p {
  text-align: center;
  line-height: 24px;
  margin-bottom: 136px;
}
.interested-back {
  position: relative;
  height: 593px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #EAE7DE url("../img/map.png") no-repeat top center;
}
.interested .google-map {
  position: absolute;
  width: 100%;
}
.interested-window {
  width: 568px;
  height: 481px;
  margin-top: -86px;
  background-color: transparent;
}
.interested .search-hotel {
  display: block;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 0 55px 0;
  color: white;
  background-color: #766357;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.interested .search-hotel:hover,
.interested .search-hotel:focus {
  background-color: #604E43;
}
.interested .search-hotel:active {
  background-color: #503E33;
  color: #857871;
}
.interested-form {
  padding: 0 55px 55px;
  font-weight: 700;
}
.interested-form p {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}
.interested-form .button {
  font-size: 21px;
  line-height: 26px;
  width: 100%;
  height: 58px;
  margin-top: 23px;
}
.interested-form input {
  box-sizing: border-box;
  outline: none;
  font: inherit;
  border: 2px solid #F2F2F2;
  background-color: #F2F2F2;
  padding: 0;
  margin: 0;
}
.interested-form input:hover {
  background-color: #EBEBEB;
  border: 2px solid #EBEBEB;
}
.interested-form input:active,
.interested-form input:focus {
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
}
.interested-form input[type='date'] {
  width: 342px;
  height: 36px;
  padding-left: 13px;
  padding-right: 38px;
  background: #F2F2F2 url("../img/calendar-gray.png") no-repeat 310px center;
}
.interested-form input[type='date']:hover {
  border: 2px solid #EBEBEB;
  background-color: #EBEBEB;
  background-image: url("../img/calendar-black.png");
}
.interested-form input[type='date']:active,
.interested-form input[type='date']:focus {
  border: 2px solid #E5E5E5;
  background-color: #FFFFFF;
  background-image: url("../img/calendar-blue.png");
}
.interested-form input[type='text'] {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  width: 42px;
  height: 34px;
}
.interested-form .interested-counter {
  display: flex;
}
.interested-form .interested-counter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  position: relative;
  color: transparent;
  border: none;
  background-color: #F2F2F2;
  padding: 0;
  top: 0;
  width: 35px;
  height: 34px;
  cursor: pointer;
}
.interested-form .interested-counter-btn.plus::after {
  position: absolute;
  content: "";
  width: 11px;
  height: 3px;
  background-color: #A9A9A9;
  transform: rotate(90deg);
}
.interested-form .interested-counter-btn.plus::before,
.interested-form .interested-counter-btn.minus::before {
  position: absolute;
  content: "";
  width: 11px;
  height: 3px;
  background-color: #A9A9A9;
}
.interested-form .interested-counter-btn.plus:hover::before,
.interested-form .interested-counter-btn.minus:hover::before,
.interested-form .interested-counter-btn.plus:focus::before,
.interested-form .interested-counter-btn.minus:focus::before,
.interested-form .interested-counter-btn.plus:hover::after,
.interested-form .interested-counter-btn.minus:hover::after,
.interested-form .interested-counter-btn.plus:focus::after,
.interested-form .interested-counter-btn.minus:focus::after {
  background-color: black;
}
.interested-form .interested-counter-btn.plus:active::before,
.interested-form .interested-counter-btn.minus:active::before,
.interested-form .interested-counter-btn.plus:active::after,
.interested-form .interested-counter-btn.minus:active::after {
  background-color: #81B3D2;
}
.main-footer {
  position: relative;
  min-height: 120px;
  background-color: transparent;
  width: 100%;
}
.main-footer .container-fix {
  background-color: rgba(253, 253, 253, 0.9);
  padding-bottom: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-footer-visit {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 30px 0 0 0;
  padding: 0;
}
.main-footer-social {
  width: 150px;
}
.main-footer-social ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
}
.main-footer-social .social-button {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 48px;
  color: white;
  background-color: #81B3D2;
}
.main-footer-social .social-button:hover,
.main-footer-social .social-button:focus {
  background-color: #669EC0;
}
.main-footer-social .social-button:active {
  background-color: #5496BD;
}
.main-footer-social .social-button:active path {
  fill: #88B6D1;
}
.author-button {
  margin-top: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #000000;
  padding-right: 122px;
}
.author-button::before {
  position: absolute;
  content: "";
  width: 116px;
  height: 43px;
  left: 80px;
  background: url("../img/logo_name_black.png") no-repeat top center;
}
.author-button:hover::before,
.author-button:focus::before {
  background: url("../img/logo_name_blue.png") no-repeat top center;
}
.author-button:active::before {
  background: url("../img/logo_name_gray.png") no-repeat top center;
}
.search {
  box-sizing: border-box;
  background: #758BA0 url("../img/filter_background.png") no-repeat top center;
  color: white;
  padding: 56px 73px 0 73px;
  min-height: 273px;
}
.search-form {
  display: flex;
}
.search-form-block.info {
  margin-right: 11%;
}
.search-form-block.home {
  width: 46%;
}
.search-form-block.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.search-form-block.price .button {
  box-sizing: border-box;
  width: 133px;
  height: 32px;
  padding: 0;
  margin: 0;
}
.search-form-block.price h3 {
  align-self: flex-start;
}
.search-form-slider {
  position: relative;
  padding: 0;
  margin: 0;
  border: 2px solid white;
  border-radius: 2px;
}
.search-form-slider input {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  height: 32px;
  border: none;
  background-color: transparent;
  color: white;
  padding-left: calc(15% + 7px);
}
.search-form-slider::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 22px;
  background-color: white;
  left: 50%;
  top: 5px;
}
.search-form-slider-container::before {
  position: absolute;
  content: "От";
  width: 2px;
  height: 22px;
  left: calc(13% - 10px);
  top: 5.5px;
}
.search-form-slider-container::after {
  position: absolute;
  content: "До";
  width: 2px;
  height: 22px;
  left: calc(62% - 10px);
  top: 5.5px;
}
.search h3 {
  display: inline-block;
  margin-top: 28px;
  margin-bottom: 9px;
  font-size: 16px;
}
.search label {
  display: flex;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  margin-bottom: 25px;
}
.search label input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-off.png") no-repeat 0 0;
}
.search label input[type="checkbox"]:focus + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.search label input[type="checkbox"]:checked + .checkbox-indicator {
  background: url("../img/checkbox-on.png") no-repeat 0 0;
}
.search label .checkbox-title {
  display: inline-block;
  margin-left: 9px;
}
.results {
  width: 100%;
  padding-bottom: 120px;
}
.results-sort {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-wrap: wrap;
  min-height: 86px;
  background-color: #fff;
  padding-left: 73px;
  padding-right: 73px;
  border-bottom: 1px solid #E5E5E5;
}
.results-sort-found {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.results-sort h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  padding-left: 49px;
}
.results-sort-list {
  display: flex;
  font-size: 12px;
  line-height: 18px;
}
.results-sort-list li {
  cursor: pointer;
  margin-left: 33px;
  color: #B2B2B2;
  text-decoration: dotted underline #81B3D2;
}
.results-sort-list li:hover,
.results-sort-list li:focus {
  color: #81B3D2;
}
.results-sort-list li:active {
  color: black;
  text-decoration: none;
}
.results-sort-order {
  display: flex;
  position: relative;
  margin-left: auto;
  top: -3px;
  cursor: pointer;
  font-size: 0;
}
.results-sort-order .results-up {
  left: -35px;
}
.results-sort-order .results-down {
  top: -12px;
  transform: rotate(180deg);
}
.results-sort-order .results-up,
.results-sort-order .results-down {
  position: absolute;
}
.results-sort-order .results-up::before,
.results-sort-order .results-down::before {
  position: absolute;
  width: 16px;
  height: 17px;
  content: "";
  background: url("../img/icon-dir-grey.svg") no-repeat 0 0;
}
.results-sort-order .results-up:hover::before,
.results-sort-order .results-down:hover::before,
.results-sort-order .results-up:focus::before,
.results-sort-order .results-down:focus::before {
  background: url("../img/icon-dir.svg") no-repeat 0 0;
}
.results-sort-order .results-up:active::before,
.results-sort-order .results-down:active::before {
  background: url("../img/icon-dir-blue.svg") no-repeat 0 0;
}
.results-sort p {
  margin: 0;
  padding: 0;
}
.results-hotels {
  background-color: #fff;
}
.results-hotels h3 {
  margin: -3px 0 0;
  padding: 0 0 8px;
  font-size: 21px;
  line-height: 26px;
}
.results-hotels h3 a {
  color: black;
}
.results-hotels h3 a:hover,
.results-hotels h3 a:focus {
  color: #88B7D5;
}
.results-hotels h3 a:active {
  color: #B2B2B2;
}
.results-hotels .results-list-item {
  display: flex;
  border-bottom: 1px solid #E5E5E5;
  padding: 27px 73px 18px;
}
.results-hotels .results-list-item .button {
  padding: 3px 16px 3px 17px;
  margin: 0 0 0 2px;
}
.results-hotels .results-list-item .item-about {
  width: 180px;
  display: flex;
}
.results-hotels .results-list-item .item-category {
  padding-right: 10px;
}
.results-hotels .results-list-item .item-price {
  margin-left: auto;
}
.results-hotels .results-img {
  margin: -2px 0 0;
  padding: 4px 30px 0 0;
  width: 135px;
  height: 90px;
}
.results-hotels .results-rate-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.results-hotels .results-rate-container .item-rate {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  min-width: 122px;
  min-height: 27px;
  bottom: 10px;
  right: -8px;
  padding: 5px;
  color: #797979;
  background-color: #F2F2F2;
}
.results-hotels .results-rate-container .item-stars img {
  margin: 0;
  padding: 0 0 0 2px;
}
