<footer class="footer wow fadeInUp">
    <div class="footer__content">
        <div class="footer__wrapper wrapper">
            <div class="footer__info">
                <a href="index.html" class="footer__logo logo">
                    <img class="logo__img" src="img/logo.svg" alt="LevelUp Space">
                </a>

                <ul class="footer__socials socials">
                    <li class="socials__item active"><a class="socials__link" href="#">
                        <img class="socials__icon" src="img/icon-facebook.svg" alt="">
                    </a></li>

                    <li class="socials__item"><a class="socials__link" href="#">
                        <img class="socials__icon" src="img/icon-instagram.svg" alt="">
                    </a></li>

                    <li class="socials__item"><a class="socials__link" href="#">
                        <img class="socials__icon" src="img/icon-x.svg" alt="">
                    </a></li>
                </ul>
            </div>

            <p class="footer__line">2019 - 2025 (с) Всі права захищені</p>
        </div>
    </div>
</footer>