<svg width="0" height="0" style="position: absolute;">
    <defs>
        <linearGradient id="arrowGradient" x1="0" y1="0" x2="100%" y2="0%">
            <stop offset="0%" stop-color="#079085"/>
            <stop offset="100%" stop-color="#7DFFE1"/>
        </linearGradient>
    </defs>
</svg>

<header class="header wow fadeInUp">
    <div class="header__wrapper wrapper">
        <a href="index.html" class="header__logo logo">
            <img class="logo__img" src="img/logo.svg" alt="LevelUp Space">
        </a>

        <nav class="header__nav main-nav">
            <div class="main-nav__container">
                <ul class="main-nav__list">
                    <li class="main-nav__item active"><a class="main-nav__link" href="#">Головна</a></li>
                    <li class="main-nav__item"><a class="main-nav__link" href="#">Послуги</a></li>
                    <li class="main-nav__item"><a class="main-nav__link" href="#">Тарифи</a></li>
                    <li class="main-nav__item"><a class="main-nav__link" href="#">Відгуки</a></li>
                    <li class="main-nav__item"><a class="main-nav__link" href="#">Контакти</a></li>
                </ul>

                <div class="main-nav__buttons">
                    <a class="main-nav__button button button--small button--trans" href="#">
                        <span>Забронювати</span>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                             xmlns="http://www.w3.org/2000/svg">

                            <path d="M5.05002 16.864L13.6555 8.25847L13.6555 16.1639L15.6566 16.1569L15.6566 4.84315L4.34292 4.84314L4.34292 6.83719L12.2413 6.84426L3.63581 15.4497L5.05002 16.864Z"/>

                            <path d="M14.1555 15.6622L14.1555 8.25847L14.1555 7.05136L13.302 7.90492L5.05002 16.1569L4.34292 15.4497L12.5949 7.19781L13.4473 6.34534L12.2417 6.34426L4.84291 6.33763L4.84292 5.34314L15.1566 5.34315L15.1566 15.6586L14.1555 15.6622Z"
                                  stroke="url(#arrowGradient)" stroke-width="1"/>
                        </svg>
                    </a>
                </div>
            </div>
        </nav>

        <div class="header__buttons">
            <a class="header__button button button--small button--trans" href="#">
                <span>Забронювати</span>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient class="arrowGradient" x1="0" y1="0" x2="100%" y2="0%">
                            <stop offset="0%" stop-color="#079085"/>
                            <stop offset="100%" stop-color="#7DFFE1"/>
                        </linearGradient>
                    </defs>

                    <path d="M5.05002 16.864L13.6555 8.25847L13.6555 16.1639L15.6566 16.1569L15.6566 4.84315L4.34292 4.84314L4.34292 6.83719L12.2413 6.84426L3.63581 15.4497L5.05002 16.864Z"/>

                    <path d="M14.1555 15.6622L14.1555 8.25847L14.1555 7.05136L13.302 7.90492L5.05002 16.1569L4.34292 15.4497L12.5949 7.19781L13.4473 6.34534L12.2417 6.34426L4.84291 6.33763L4.84292 5.34314L15.1566 5.34315L15.1566 15.6586L14.1555 15.6622Z"
                          stroke="url(#arrowGradient)" stroke-width="1"/>
                </svg>
            </a>
        </div>

        <button class="header__menu-btn"></button>
    </div>
</header>