@media (min-width: 1600px){
    .social-impact {
        padding: 255px 0 210px;
    }
}
@media (max-width: 1359px) {
    .container {
      width: 970px;
    }
    .btn-arrow, 
    .btn-arrow.small, 
    .btn-arrow.short {
        border-radius: 20px;
        background-image: none;
        border: 2px solid #C11FEF;
        padding: 15px;
		background: linear-gradient(to bottom, #b40dd8, #592190);
    }
    .btn-arrow span {
        font-size: 11px;
        letter-spacing: 1.7px;
    }
    .btn-arrow img{
        width:30px;
    }
    .list-info li {
        padding-left:33px;
        font-size: 20px;
        background-size:20px;
    }
    .it-means-photo {
        width: 290px;
    }
    .means-women-photo {
        width: 185px;
        top: 76px;
        left: 35px;
    }
    .it-means-content .list-info li:not(:last-child) {
        margin-bottom: 15px;
    }
    .it-means-content .list-info li {
        line-height: 1.25;
    }
    .it-means-description {
        font-size: 21px;
        line-height: 1.4;
        margin: 45px auto 50px auto;
    }
    .our-clients {
        padding: 45px 0 25px;
    }
    .our-clients h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .our-clients-block {
        width: 100%;
        max-width: 135px;
        text-align: center;
        margin: 0 5px 20px;
    }
    .answer-questions-box:after {
        top: 10px;
        left: 10px;
    }
    .answer-questions-box p {
        font-size: 14px;
        line-height: 1.45;
        letter-spacing: initial;
    }
    .answer-questions-box:not(:last-child) {
        margin-bottom: 23px;
    }
    .answer-questions {
        padding: 50px 0 40px;
    }

    .time-act-content h3 {
        font-size: 22px;
        letter-spacing: 1px;
    }
    .time-act-info {
        width: calc(100% + 150px);
        padding: 30px;
        left: -150px;
        margin-top: 10px;
    }
    .time-act {
        padding: 25px 0;
    }
    .your-authenticity-content h2 {
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }
    .your-authenticity-content p {
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    .your-authenticity-content h4 {
        font-size: 13px;
        line-height: 1.4;
        letter-spacing: 1px;
    }
    .experience-photo:after{
        display:none;
    }
    .my-story-content p mark {
        width: 100%;
        left: 0;
        padding:0;
    }
    .step-content {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
        padding-left: 15px;
    }
    .price-block {
        width: calc(50% - 10px);
    }
    .price-info {
        width: calc(100% - 15px);
        padding: 20px 15px;
    }
    .title{
        font-size:28px;
        margin-bottom:45px;
    }
    .immediate-bonus-content p {
        font-size: 20px;
        line-height: 1.3;
    }
    .immediate-bonus {
        padding: 40px 0 20px;
    }
    .experience-content p{
        line-height:1.5;
        font-size:18px;
    }
    .my-opinion-box{
        padding:30px;
    }
    .my-opinion-box p{
        margin-bottom:30px;
    }
    .my-opinion-box h2 {
        font-size: 28px;
        line-height: 1.4;
        letter-spacing: 1.2px;
    }
    .my-story-photo {
        width: 290px;
        height: 290px;
    }
    .my-story-content {
        width: calc(100% - 355px);
    }
    .my-story-content h3 {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 1.3px;
        margin-bottom: 12px;
    }
    .my-story-content p {
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: 1px;
    }
    .innovation-box {
        padding: 40px 15px;
    }
    .innovation-box:after{
        display:none;
    }
    .innovation-box h2 {
        line-height: 1.4;
        letter-spacing: 1px;
    }
    .pride-slider-box {
        padding: 0 65px 45px;
    }
    .pride-icon{
        display:none;
    }
    .pride {
        padding: 10px 0 80px;
    }
    .pride-slider{
        margin-top:35px;
    }
    .pride-video-block {
        height: 250px;
    }
    .pride-info-block h5{
        font-size:24px;
        margin-bottom:30px;
    }
    .pride-info-block p {
        font-size: 12px;
        line-height: 1.45;
        letter-spacing: 1px;
    }
    .pride-info-block:after {
        top: 5px;
        left: 5px;
    }
    .future-content sub {
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 12px;
    }
    .future-content h2 {
        font-size: 21px;
        letter-spacing: 1px;
        margin-bottom: 25px;
    }
    .increase-info-left h5 {
        font-size: 16px;
        line-height: 1.4;
        padding: 7px 15px;
        letter-spacing: 1px;
        margin: 15px 0;
    }
    .increase-info-wrap p {
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 1px;
        color: #000000;
    }
    .capabilities-content {
        padding: 15px;
    }
    .capabilities-content h3 {
        font-size: 20px;
        line-height: 1.5;
    }
    .capabilities-info h3 {
        font-size: 26px;
    }
    .capabilities-info {
        margin: 40px 0;
    }
    .faq h2 {
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    .whats-app-box {
        padding: 40px 0;
    }
    .header-box{
        width:860px;
        padding:45px 15px 40px 15px;
    }
    .header-box br {
        display: none;
    }
    .header-box p b:before{
        width:calc(100% + 30px);
        left:-25px;
    }
    .caption {
        font-weight: bold;
        font-size: 40px;
    }
    .christmas-include {
        margin: 34px 0 79px;
        padding: 0 10px;
    }
    .monitor-photo{
        width:340px;
    }
    .christmas-include p {
        max-width: 630px;
        font-size: 24px;
    }
    .christmas-bonus-photo{
        width:330px;
    }
    .network p{
        max-width:700px;
    }
    .bow-photo{
        width:430px;
        bottom: -60px;
    }
    .surprise-photo{
        width:150px;
        top: 75px;
    }
    .reservar-top{
        justify-content:center;
    }
    .reservar-top-content {
        width: 100%;
        margin-top: 35px;
    }
    .btn-arrow.btn-big{
        padding:14px 30px;
    }
    .reservar-arrow{
        margin:20px 0;
    }
    .reservar-arrow img{
        width:50px;
    }
    .group-photo {
        position: initial;
        text-align:center;
    }
    .group-block{
        padding-left:0;
    }
    .impression-todo{
        left:0;
    }
    .impression-photo{
        width:150px;
        left: 0;
    }
    .impression-text-first:before{
        bottom: 70px;
    }
}
@media (max-width: 991px) {
     .container {
       width: 750px;
     }
    .title-arrow:after {
        display: none;
    }
    .it-means-wrap {
        flex-direction: column;
        align-items: center;
    }
    .title-arrow {
        font-size: 18px;
        letter-spacing: 1.5px;
        margin-bottom: 20px;
    }
    .it-means {
        padding: 35px 0 45px;
    }
    .answer-questions-title sub {
        font-size: 14px;
        letter-spacing: 1.5px;
        margin-bottom: 7px;
    }
    .answer-questions-title h3 {
        font-size: 24px;
        letter-spacing: 1px;
    }
    .answer-questions-box {
        padding: 25px 15px 15px 25px;
    }
    .time-act-content h3 {
        font-size: 14px;
    }
    .time-act-content{
        width:55%;
        padding-top:40px;
    }
    .time-act-photo {
        width: calc(45% - 15px);
    }
    .time-act-info {
        width: calc(100% + 75px);
        left: -75px;
        padding:20px 15px;
    }
    .time-act-info p {
        font-size: 16px;
        letter-spacing: 1px;
        margin: 15px 0;
    }
    .your-authenticity-content {
        padding-left: 0;
    }
    .your-authenticity-content:before{
        display:none;
    }
    .your-authenticity-content h2 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .your-authenticity-content p{
        font-size:14px;
    }
    .steps {
        padding: 40px 0 30px;
    }
    .step-wrap {
        margin-bottom: 20px;
    }
    .step-box {
        padding-bottom: 45px;
    }
    .steps h2 {
        font-size: 22px;
        letter-spacing: 1px;
    }
    .steps sub {
        font-size: 18px;
        margin-bottom: 70px;
    }
    .step-title {
        width: 87px;
        height: 80px;
        top: -40px;
    }
    .step-title p {
        font-size: 18px;
        letter-spacing: 3px;
    }
    .step-title p span {
        font-size: 22px;
    }
    .step-number {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .step-top {
        background-position-x: calc(100% - 25px);
        background-size: 26px auto;
        margin-bottom: 15px;
    }
    .step-block {
        width: calc(33% - 20px);
        margin-bottom: 25px;
    }
    .step-bottom-title {
        font-size: 26px;
        padding:0 15px;
    }
    .last-step h3 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .step-bonus-block h6 {
        width: 150px;
        font-size: 18px;
    }
    .step-bonus-block p {
        width: calc(100% - 150px);
        font-size: 14px;
        line-height: 1.5;
    }
    .step-box:not(:last-child) {
        margin-bottom: 80px;
    }
    .thanks-training {
        padding: 45px 0;
    }
    .title {
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 25px;
    }
    .title:after {
        width: 100px;
        height: 3px;
        bottom: -5px;
    }
    .thanks-training-content {
        width: calc(45% - 15px);
    }
    .thanks-training-content h4 {
        font-size: 14px;
        letter-spacing: 1px;
        padding: 20px 0 0 32px;
    }
    .price-title {
        height: 60px;
        font-size: 20px;
    }
    .price-list li {
        padding: 15px;
        font-size: 13px;
        line-height: 1.4;
        letter-spacing: 1px;
    }
    .price-info h3 {
        font-size: 14px;
        line-height: 1.3;
        letter-spacing: 1.5px;
    }
    .price-info sub {
        line-height: 1.5;
        letter-spacing: 1.5px;
        font-size: 14px;
        margin: 15px 0 18px;
    }
    .price-cost {
        font-size: 28px;
    }
    .price-payment {
        font-size: 10px;
        letter-spacing: 1.2px;
        margin: 5px 0;
    }
    .price-info-text {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }
    .price {
        padding: 50px 0 5px;
    }
    .price-box {
        padding-bottom: 45px;
    }
    .price-info {
        top: -45px;
    }
    .price h2 {
        font-size: 24px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    .experience-content .title {
        width: 100%;
        left: 0;
    }
    .experience-content p:not(:last-child) {
        margin-bottom: 12px;
    }
    .experience-content p {
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: 1px;
        color: #000000;
    }
    .experience-content {
        width: calc(50% - 10px);
    }
    .my-opinion-box p {
        font-size: 14px;
        letter-spacing: 2.2px;
        margin-bottom: 15px;
    }
    .my-opinion-box h2 {
        font-size: 22px;
    }
    .my-story-content {
        width: calc(100% - 310px);
    }
    .my-story-content p {
        font-size: 13px;
    }
    .my-story-content h3 {
        font-size: 13px;
        line-height: 1.4;
    }
    .innovation-box h2{
        font-size:28px;
    }
    .passion-work h2 {
        font-size: 28px;
        margin: 12px 0 10px;
    }
    .passion-work p {
        font-size: 16px;
        line-height: 1.45;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    .passion-work {
        padding: 35px 0;
        margin: 50px 0 30px;
    }
    .pride h2 {
        font-size: 22px;
    }
    .pride-slider-box .pride-text {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 1px;
        margin: 17px 0;
    }
    .pride-slider-box h3 {
        font-size: 12px;
        line-height: 2;
        letter-spacing: 1.2px;
    }
    .pride-video-block {
        height: 175px;
    }
    .pride-info-block {
        padding: 25px 20px 10px;
    }
    .pride-info-block h5 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .pride-info-block p{
        font-size:10px;
    }
    .pride-video-btn {
        width: 50px;
        height: 50px;
        background-size: 14px;
        background-position-x: 17px;
        top: 18px;
        right: 20px;
        border: 2px solid #6C2C60;
    }
    .increase {
        padding: 40px 0;
    }
    .increase h2 {
        font-size: 24px;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    .increase sub {
        font-size: 14px;
        letter-spacing: 1.5px;
        margin-bottom: 25px;
    }
    .increase-name {
        width: calc(100% - 75px);
        font-size: 16px;
        letter-spacing: 2px;
    }
    .increase-number {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    .increase-top {
        margin-bottom: 15px;
    }
    .increase-text {
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: 1px;
    }
    .increase-content {
        width: 50%;
    }
    .increase-block:not(:last-child) {
        margin-bottom: 40px;
    }
    .philosophy {
        padding: 45px 0;
        background-size: 175px;
    }
    .philosophy-block {
        width: calc(50% - 12px);
    }
    .philosophy-block h4 {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 15px;
    }
    .philosophy-block h4 br{
        display:none;
    }
    .philosophy-block p {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    .philosophy-block p:not(:last-child) {
        margin-bottom: 15px;
    }
    .philosophy-block h6 {
        padding: 10px 15px;
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 15px;
    }
    .philosophy sub {
        font-size: 14px;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }
    .social-impact {
        padding: 75px 0 50px;
    }
    .future-content {
        width: calc(65% - 15px);
    }
    .increase-info-left {
        width: calc(50% - 20px);
    }
    .increase-advantages-number {
        width: 30px;
        height: 30px;
        font-size: 20px;
        padding-top: 3px;
    }
    .increase-advantages p {
        width: calc(100% - 40px);
    }
    .future {
        padding: 40px 0;
    }
    .capabilities {
        padding: 35px 0 50px;
        background-position: center 110px;
        background-size: 220px;
    }
    .capabilities sub {
        font-size: 21px;
    }
    .capabilities-info h3 {
        font-size: 20px;
    }
    .capabilities-content {
        width: calc(50% - 20px);
        left: -40px;
    }
    .capabilities-content h3.capabilities-second-title {
        margin: 15px 0 12px;
    }
   .capabilities-content h3 {
       font-size: 16px;
   }
    .faq-title p {
        font-size: 18px;
        line-height: 1.4;
        letter-spacing: 1px;
    }
    .faq-info p {
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 1px;
    }
    .faq {
        padding: 40px 0 50px;
    }
    .footer-box {
        padding: 20px 15px 30px;
    }
    .footer-box h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .input {
        height: 40px;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    .modal-timeout-block {
        padding: 20px 15px;
    }
    .modal-timeout-block h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .modal-timeout-block p {
        font-size: 16px;
        line-height: 1.4;
    }
    .modal-gif {
        margin: 15px 0;
    }
    .modal-timeout-block .btn-arrow {
        padding: 10px 15px;
        margin-top: 15px;
    }
   .modal-timeout-block .btn-arrow span {
       margin-right: 12px;
   }
    .footer-links li:not(:last-child):after{
        display:none;
    }
    .some-bonus-content h3 {
        font-size: 22px;
        margin-bottom: 12px;
    }
    .some-bonus-photo {
        margin-bottom: 15px;
    }
    .christmas-tree{
        display:none;
    }
    .header-block{
        padding:20px 15px;
    }
    .header-box{
        width:100%;
    }
    .header-info{
        margin:0;
        border-radius:0;
    }
    .header-info:before {
        display: none;
    }
    .christmas-include h3 {
        font-size: 17px;
        max-width: 430px;
    }
    .christmas-include p {
        max-width: 430px;
        font-size: 13px;
        margin-top: 10px;
    }
    .caption{
        font-size:26px;
    }
    .christmas-bonus-photo {
        width: 260px;
    }
    .network-photo{
        max-height:260px;
    }
    .network-photo{
        top: -10px;
        right:0;
    }
    .network p{
        max-width:600px;
        font-size:13px;
    }
    .network-title{
        font-size:18px;
    }
    .network h4{
        font-size:16px;
    }
    .christmas-bonus-box{
        padding-bottom:60px;
    }
    .moreover-box{
        padding:0;
        border-width:0;
    }
    .bow-photo{
        width:135px;
        bottom:0;
        right:0;
    }
    .moreover-title {
        position: initial;
        margin-bottom:10px;
    }
    .moreover-title span{
        padding:0;
    }
    .moreover-box:before {
        content: '';
        width: calc(100% - 250px);
        height: 3px;
        position: absolute;
        top: 22px;
        right: -15px;
        background-color: #391059;
    }
    .surprise-photo{
        top:275px;
    }
    .reservar-top-content h4{
        font-size:24px;
    }
    .reservar-top-content h2{
        font-size:34px;
    }
    .btn-arrow.btn-big span{
        font-size:19px;
    }
    .reservar-box h4{
        font-size:18px;
    }
    .reservar-price p{
        font-size:22px;
    }
    .reservar-price p span {
        font-size: 17px;
    }
    .reservar-price p:before{
        height:4px;
        top:11px;
    }
    .reservar-box h3{
        font-size:34px;
    }
    .reservar-box h3 span{
        font-size:24px;
    }
    .impression-top h3{
        font-size:33px;
    }
    .impression-caption span{
        font-size:32px;
    }
    .impression-bottom-content h4 span{
        font-size: 15px;;
    }
    .impression-text{
        font-size: 13px;
    }
    .impression-text-first:before{
        bottom: 10px;
    }
    .prc-title{
        font-size: 15px;
    }
    .prc-old{
        font-size: 26px;
    }
    .prc-old span{
        font-size: 22px;
    }
    .prc-old:before{
        height: 4px;
        top: 9px;
    }
    .prc-new {
        font-size: 26px;
    }
    .prc-new b{
        font-size: 48px;
    }
    .prc-new b img{
        width: 30px;
    }
    .prc-bottom{
        font-size: 13px;
    }
    .prc-bottom span:before {
        width: 30px;
        right: -35px;
        top: 6px;
    }
    .price-title{
        padding-top: 80px;
		padding-bottom: 25px;
		background-repeat: no-repeat;
    }
    .price-title.premium{
        padding-top: 105px;
		padding-bottom: 25px;
		background-repeat: no-repeat;
    }
    .price{
        background-image: url(../img/price-new-bg-m.jpg);
        background-size: cover;
        margin-bottom: 20px;
		padding-top: 100px;
    }
    .timer-title {
        font-size: 13px;
    }
    .block_data p {
        margin-right: 15px;
    }
    .block_data {
        font-size: 16px;
    }
}
@media (max-width: 767px) {
     .container {
       width: 100%;
     }

    .btn-arrow {
        padding: 15px;
    }
    .btn-arrow span {
        font-size: 12px;
        letter-spacing: 1px;
    }
    .btn-arrow img {
        width: 20px;
    }
    .header-bottom h3 {
        max-width: 290px;
        padding: 0 0 15px;
        margin:0 0 15px;
        font-size: 21px;
        text-align:center;
        border-right:none;
        border-bottom: 3px solid;
    }
    .header-bottom p {
        max-width: 290px;
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
    }
    .list-info li {
        font-size: 16px;
    }
    .list-info li:not(:last-child) {
        margin-bottom: 15px;
    }
    .it-means-description {
        font-size: 15px;
        line-height: 2.0;
        margin: 30px auto 25px auto;
    }
    .our-clients h2 {
        font-size: 18px;
    }
    .answer-questions-right {
        width: 100%;
        order: -1;
        margin-bottom:25px;
    }
    .answer-questions-title {
        padding: 0px 0 0 5px;
    }
    .answer-questions-title sub {
        font-size: 12px;
        letter-spacing: 1px;
    }
    .answer-questions-title h3 {
        font-size:21px;
        margin-bottom:5px;
    }
    .answer-questions-wrap {
        justify-content: center;
    }
    .answer-questions-left {
        width: 290px;
    }
    .time-act-content {
        width: 100%;
        padding-top: 25px;
    }
    .time-act-photo {
        width: 100%;
        text-align: center;
    }
    .time-act-photo img{
        width:290px;
    }
    .time-act-info {
        width: 100%;
        left: 0;
        padding: 0;
        margin-top: 20px;
    }
    .your-authenticity-content {
        width: 100%;
        order: 1;
        margin-top: 20px;
    }
    .your-authenticity-photo {
        width: 100%;
    }
    .your-authenticity {
        padding: 10px 0 50px;
    }
    .step-block {
        width: calc(50% - 12px);
    }
    .step-bottom-title {
        font-size: 16px;
    }
    .step-content {
        font-size: 11px;
        line-height: 18px;
    }
    .steps h2 {
        font-size: 16px;
    }
    .steps sub {
        font-size: 15px;
        margin-bottom: 60px;
    }
    .last-step h3 {
        font-size: 16px;
        line-height: 1.35;
        margin-bottom: 15px;
    }
    .step-bonus-block{
        padding:20px 15px;
    }
    .step-bonus-block h6 {
        width: 100%;
    }
    .step-bonus-block p {
        width: 100%;
        margin-top: 15px;
        line-height: 1.4;
    }
    .thanks-training-photo {
        width: 100%;
        text-align: center;
        margin-bottom:20px;
    }
    .thanks-training-photo img{
        width:290px;
    }
    .thanks-training-content {
        width: 100%;
    }
    .thanks-training-content .list-info li:not(:last-child) {
        margin-bottom: 15px;
    }
    .price-block {
        width: 100%;
    }
    .price h2{
        font-size:18px;
    }
    .immediate-bonus-photo{
        width:100%;
        order:-1;
        text-align:center;
    }
    .immediate-bonus-photo img{
        width:290px;
    }
    .immediate-bonus-content {
        width: 100%;
    }
    .immediate-bonus-content p {
        font-size: 14px;
    }
    .immediate-bonus {
        padding: 15px 0 20px;
    }
    .experience-content {
        width: 100%;
    }
    .experience-photo {
        width: 100%;
        text-align:center;
        margin-bottom:20px;
    }
    .experience-photo img{
        width:290px;
    }
    .experience {
        padding: 40px 0;
    }
    .title{
        font-size:16px;
    }
    .my-opinion-box {
        padding: 25px 12px;
    }
    .my-opinion-box h2 {
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: 1px;
    }
    .my-story-content {
        width: 100%;
        order: 1;
    }
    .my-story-photo {
        border: 3px solid #B80DD9;
        margin-bottom:25px;
    }
    .my-story-photo img {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }
    .my-story {
        padding: 40px 0;
    }
    .my-story-block {
        justify-content: center;
    }
    .my-story-block:not(:last-child){
        margin-bottom:35px;
    }
    .my-story-content h3 {
        font-size: 11px;
    }
    .innovation-box {
        padding: 25px 12px;
    }
    .innovation-box h2 {
        font-size: 16px;
    }
    .pride-video-wrap{
        align-items:center;
        flex-direction:column;
    }
    .pride-video-block {
        width: 280px;
    }
    .pride-video-block:not(:last-child){
        margin-bottom:20px;
    }
    .pride-info-block {
        max-width: 100%;
    }
    .passion-work-icon {
        width: 120px;
    }
    .passion-work h2{
        font-size:20px;
    }
    .passion-work p {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .pride h2 {
        font-size: 16px;
    }
    .arrow-slider {
        width: 22px;
        height: 15px;
    }
    .arrow-slider-prev{
        left:-10px;
    }
    .arrow-slider-next {
        right: -10px;
    }
    .pride-slider-box {
        padding: 0 15px 35px;
    }
    .pride-photo img{
        width:135px;
    }
    .pride-slider-box .pride-text {
        font-size: 12px;
        line-height: 1.4;
        margin: 15px 0;
    }
    .pride-slider-box h3 {
        font-size: 10px;
        line-height: 1.6;
        letter-spacing: 1px;
    }
    .pride-info-wrap{
        margin-top:20px;
        align-items:center;
        flex-direction:column;
    }
    .pride-info-block{
        width:290px;
    }
    .pride-info-block::after{
        display:none;
    }
    .pride-info-block:not(:last-child){
        margin-bottom:20px;
    }
    .pride {
        padding: 5px 0 45px;
    }
    .increase-content {
        width: 100%;
        margin-bottom: 15px;
    }
    .increase-text{
        font-size:14px;
    }
    .increase-photo {
        width: 100%;
        text-align:center;
    }
    .increase-photo img{
        width:260px;
    }
    .increase h2 {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .increase sub{
        font-size:12px;
    }
    .philosophy-block {
        width: 100%;
    }
    .philosophy-block:not(:last-child) {
        margin-bottom:15px;
    }
    .philosophy-block h4{
        font-size:14px;
    }
    .social-impact-block {
        padding: 35px 12px 20px;
    }
    .social-impact-block p {
        font-size: 20px;
    }
    .social-impact-box:after {
        width: 65px;
        height: 65px;
        top: -33px;
        left: calc(50% - 32px);
    }
    .future-photo {
        width: 100%;
        text-align: center;
        padding-top: 0;
        margin-bottom:20px;
    }
    .future-photo img{
        width: 235px;
    }
    .future-content {
        width: 100%;
    }
    .future-content sub{
        font-size:13px;
    }
    .future-content h2 {
        font-size: 17px;
        margin-bottom: 15px;
    }
    .increase-info-left {
        width: 100%;
        margin-bottom:20px;
    }
    .increase-info-right {
        width: 100%;
    }
    .increase-advantages:not(:last-child) {
        margin-bottom: 12px;
    }
    .capabilities {
        padding: 30px 0;
    }
    .capabilities-info h3 {
        font-size: 10px;
    }
    .capabilities-info .capabilities-info-right {
        width: calc(50% - 15px);
    }
    .capabilities sub {
        font-size: 16px;
    }
    .capabilities-info {
        margin: 25px 0;
    }
    .capabilities-photo {
        width:100%;
        margin-bottom:20px;
    }
    .capabilities-photo img{
        width:230px;
        margin:auto;
    }
    .capabilities-content {
        width: 100%;
        padding:0;
        left: 0;
    }
    .capabilities-content h3 {
        font-size: 11px;
    }
    .faq-title {
        padding: 15px 20px;
    }
    .faq-block.faq-active .faq-title {
        padding: 20px;
    }
    .faq-title p {
        font-size: 14px;
    }
    .faq-info {
        padding: 15px 20px;
    }
    .footer {
        padding-bottom: 90px;
    }
    .footer-box h2 {
        font-size: 18px;
    }
    .wrap-input .input {
        width: 100%;
    }
    .styled-checkbox + span {
        font-size: 14px;
        line-height: 1.75;
        letter-spacing: 1px;
    }
    .footer-btn {
        text-align: center;
        margin-top: 20px;
    }
    .time-act-info .btn-arrow {
        padding: 10px 15px;
    }
    .time-act-info .btn-arrow span {
        font-size: 10px;
    }
    .whats-app-box h2 {
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    .some-bonus-block {
        width: 100%;
    }
    .some-bonus-block:not(:last-child){
        margin-bottom:35px;
    }
    .header{
        background-image:url(../img/header-mobile-bg.jpg);
        padding-bottom:40px;
    }
    .header-top{
        padding:24px 17px 12px;
        border-radius:0 0 50px 50px;
    }
    .header-top p {
        font-weight: bold;
        font-size: 17px;
        line-height: 130%;
    }
    .header h1{
        font-size:20px;
    }
    .header-box{
        width:100%;
        padding:0 0 80px;
        border-width:0;
    }
     .header-box p{
         max-width:75%;
     }
    .header-box-title {
        position:relative;
        top:0;
        left:0;
        margin-bottom:20px;
    }
    .header-box-title span{
        background:none;
        font-size:16px;
    }
     .header-box-title span b{
         text-transform:none;
     }
    .header-box p{
        font-size:14px;
    }
    .header-box .btn-arrow{
        width:100%;
        padding:8px 15px;
        bottom: -40px;
        left:0;
        position:relative;
    }
    .header-box-title span{
        padding:10px 0;
    }
    .header-info{
        display:block;
        font-size:22px;
        padding-left:15px;
        text-align:left;
    }
    .header-info span{
        display: inline-block;
        max-width:215px;
    }
    .gift-mobile {
        max-height:195px;
        max-width: 33%;
        display:block;
        position: absolute;
        top: -25px;
        right: 0;
    }
    .christmas-tree-mobile {
        max-width: 29%;
        display: block;
        position: absolute;
        top: 25%;
        right: 0;
    }
    .header-box p b {
        background-color: #400582;
    }
    .christmas-container {
        background-image: url(../img/christmas-mobile-bg.png);
        padding: 100px 0 99px;
    }
    .monitor-photo {
        position: initial;
        display:block;
        margin:auto;
    }
    .christmas-include{
        margin-top: 10px;
    }
    .caption{
        font-size:18px;
		padding-top: 11px;
    }
    .christmas-include:before {
        max-width: calc(100% + 30px);
        height:108px;
        left: -15px;
        bottom: -20px;
        background: linear-gradient(360deg, #F3ECFF 0%, rgba(233, 229, 255, 0) 81.1%);
        border-radius: 0px 0px 40px 40px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .christmas-bonus-box{
        padding:10px 110px 0 0;
    }
    .christmas-bonus-photo{
        width:150px;
        top:60px;
        left:auto;
        right:-15px;
    }
    .christmas-bonus-text {
        width: calc(100% - 40px);
        font-size:13px;
    }
    .christmas-bonus-number{
        width:30px;
        height:30px;
        font-size:17px;
    }
    .christmas-bonus-title{
        margin-bottom:25px;
    }
    .christmas-bonus-title span{
        font-size:18px;
    }
    .christmas-bonus-title:before {
        width: 280px;
        height: 35px;
        border-radius:0 27px 27px 0;
        top: -8px;
        left: -15px;
    }
    .network-photo {
        top: 23px;
        right: -15px;
    }
    .network h4{
        max-width:calc(100% - 140px);
    }
    .network p {
        max-width: calc(100% - 115px);
    }
    .network-title:before {
        background: linear-gradient(90deg, #3E1789 -1.87%, #CF218F 101.12%);
        left: -50px;
        border-radius: 0 25px 25px 0;
    }
    .network{
        margin-top:80px;
    }
    .moreover-title{
        font-size:20px;
    }
    .moreover-box:before {
        width: calc(100% - 120px);
        height:2px;
        top:10px;
    }
    .moreover-box h4{
        font-size:14px;
    }
    .bow-photo {
        width: 120px;
        bottom: -100px;
        right: -17px;
    }
    .moreover-box{
        margin-top:70px;
    }
    .surprise{
        padding:36px 0 45px;
    }
    .surprise h2{
        font-size:20px;
    }
    .surprise-info{
        width:calc(100% + 30px);
        font-size:13px;
        margin-left:-15px;
        padding-left:15px;
    }
    .surprise p{
        font-size:12px;
        padding-left:135px;
        margin-bottom:25px;
    }
    .surprise .btn-arrow.btn-big{
        margin-left:120px;
    }
    .btn-arrow.btn-big{
        padding:6px 20px;
    }
    .btn-arrow.btn-big span {
        font-size: 12px;
    }
    .surprise-photo{
        width:130px;
        top:115px;
        right:auto;
        left:-15px;
    }
    .some-bonus-title{
        font-size:20px;
        text-align:center;
        padding-left:0;
        margin-bottom:30px;
    }
    .some-bonus-icon{
        width:50px;
        top:-118px;
        left:calc(50% - 25px);
    }
    .reservar-block{
        width:calc(100% + 30px);
        margin-left:-15px;
        padding:25px 0 35px;
        border-left:none;
        border-right:none;
    }
    .reservar-box .btn-arrow{
        width:calc(100% - 30px);
        text-align:center;
        left:15px;
        bottom:-57px;
    }
    .reservar-top-content{
        text-align:center;
    }
    .reservar-top-content h2 {
        font-size: 18px;
    }
    .reservar-top-content h4{
        font-size:13px;
    }
    .impression-title{
        font-size:20px;
    }
    .impression-todo span{
        font-size:15px;
        margin-left:20px;
    }
    .impression-top {
        padding-top: 18px;
    }
    .impression-top h3{
        font-size:14px;
        margin-bottom:80px;
    }
    .impression-todo img{
        width:40px;
        top:-11px;
        left:7px;
    }
    .impression-todo{
        top:-75px;
    }
   .impression-todo:before{
        font-size:40px;
        bottom:-50px;
        left:65px;
    }
    .impression-top {
        background-image: url(../img/impression-top-mobile.png);
        background-size: 100% 100%;
        background-position: -10px -33px;
    }
    .impression-caption span{
        font-size:15px;
    }
    .group-photo{
        padding:0 20px 10px;
    }
    .group-content h4{
        font-size:16px;
    }
    .group-list li{
        font-size:16px;
        padding-left:20px;
    }
    .group-list li:before{
        left:0;
    }
    .group-card{
        border-radius:0 30px 30px 0;
        padding-right:45px;
        margin-left:-15px;
    }
    .group-card h6{
        font-size:19px;
    }
    .group-card p{
        font-size:13px;
    }
    .impression-text-first:before{
        width: 55px;
        height: 55px;
    }
    .impression-bottom-content{
        padding: 0 115px 0 0;
    }
    .impression-photo{
        width: 130px;
        left: auto;
        right: -15px;
        top: auto;
        bottom: -60px;
    }
    .impression-text-first:before{
        width: 65px;
        height: 65px;
        bottom: 60px;
        right: -95px;
    }
    .impression-bottom .reservar-block{
        margin: 50px 0 60px -15px;
    }
    .some-bonus {
        background-image: url(../img/bonus-mobile-bg.png);
        background-position: center 25px;
    }
    .some-bonus-photo img{
        width:240px;
    }
    .reservar {
        background-image: url(../img/.reservar-star.png);
        background-repeat:no-repeat;
        background-position:75% 97%;
    }
    .header-arrow{
        margin:17px 0 10px;
    }
    .header-arrow img{
        width:45px;
    }
    .header-block {
        background-image: url(../img/header-stars.png);
        background-repeat: no-repeat;
        background-position-x: 30px;
        background-position-y: calc(100% - 20px);
        margin-bottom:0;
    }
	.impression-bottom-content h4 {
		width: 265px;;
	}
	.impression-text-first:before  {
        width: 110px;
		height: 110px;
		bottom: 16px;
		right: -115px;
    }
    .timer-wrap{
        flex-direction: column;
    }
    #timer{
        width: 150px;
        margin: 5px 0;
    }
    .timer-box{
        padding: 8px 0;
    }
    .timer-title {
        font-size: 11px;
    }
    .block_data{
        font-size: 13px;
    }
    .timer-wrap .btn-arrow {
        padding: 6px 12px;
    }
    .timer-wrap .btn-arrow span{
        font-size: 9px;
    }
}
@media (max-width: 379px) {
    .surprise-photo{
        top:130px;
    }
    .btn-arrow.btn-big {
        padding: 6px 10px;
        text-align:center;
    }
    .btn-arrow.btn-big span{
        font-size:9px;
    }
	.caption{
        font-size:17px;
    }
	.bow-photo {
        width: 120px;
        bottom: -100px;
        right: -35px;
    }
	
}
@media (max-width: 359px){
    .christmas-tree-mobile {
        max-width: 26%;
        top: 32%;
    }
} 