* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
a {
  transition: 0.3s;
}
img {
  max-width: 100%;
  max-height: 100%;
}
ul {
  list-style-type: none;
}
sub {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.container {
  width: 1260px;
  padding: 0 15px;
  margin: auto;
}
body,
main {
  overflow-x: hidden;
}
body,
input,
textarea,
button {
  font-family: 'Spartan', sans-serif;
}
.scroll-top {
  position: fixed;
  bottom: 12px;
  right: 15px;
  width: 34px;
  height: 34px;
  display: block;
  background-color: #6b2c60;
  border: 1px solid #fff;
  background-image: url(../img/up-arrow.svg);
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 0.6s ease;
  transform: translateX(150%);
  z-index: 10;
  border-radius: 7px;
}
.scroll-top:hover {
  background-color: #ae0cc6;
}
.scroll-top.active {
  opacity: 1;
  transform: none;
}
@keyframes scall {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.btn-arrow {
  display: inline-flex;
  align-items: center;
  padding: 17px 26px;
  border: 3px solid #C20DDC;
  background: linear-gradient(to bottom, #b40dd8, #640abc);
  /*background-image: url(../img/btn-bg.png);
    background-size: 100% 100%;*/
  border-radius: 30px;
  text-transform: uppercase;
  animation: emit 1s infinite;
}
.btn-arrow span {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #ffffff;
  margin-right: 7px;
}
.btn-arrow img {
  position: relative;
  left: 0;
  filter: invert(100%);
  transition: 0.3s;
}
.btn-arrow.btn-big {
  padding: 14px 115px;
}
.btn-arrow.btn-big span {
  font-size: 23px;
}
.btn-arrow.black-color span {
  color: #ffffff;
}
.btn-arrow.black-color:hover span {
  color: #2D255C;
}
.btn-arrow.black-color:hover img {
  filter: invert(0);
}
.btn-arrow.white-btn {
  background-image: none;
  background: linear-gradient(to bottom, #b40dd8, #640abc);
  border: 3px solid #C20DDC;
}
.btn-arrow.white-btn span {
  color: #ffffff;
}
.btn-arrow.white-btn:hover {
  background-color: #ffffff;
}
.btn-arrow.white-btn:hover span {
  color: #2D255C;
}
.btn-arrow.white-btn:hover img {
  filter: invert(0);
}
.btn-arrow:hover {
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  animation: none;
}
.btn-arrow:hover span {
  color: #2D255C;
}
.btn-arrow.btn-gradient {
  border: 3px solid #C20DDC;
  background: linear-gradient(to bottom, #b40dd8, #640abc);
}
.btn-arrow.btn-gradient:hover {
  background: #ffffff;
}
@keyframes emit {
  from {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.35);
  }
  to {
    box-shadow: 0 0 0 17px rgba(108, 37, 124, 0.15);
  }
}
@keyframes emitSmall {
  from {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.35);
  }
  to {
    box-shadow: 0 0 0 11px rgba(108, 37, 124, 0.14);
  }
}
.center {
  text-align: center;
}
.header-info-box {
  width: 170px;
  background-color: #10069f;
  position: absolute;
  top: -30px;
  left: 40px;
  padding: 30px 10px 30px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.header-info-box span {
  letter-spacing: 5.6px;
  font-size: 28px;
}
.header-info-box p {
  font-size: 14px;
  letter-spacing: 2.8px;
  margin-top: 5px;
}
.header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom h3 {
  max-width: 420px;
  padding: 12px 40px 12px 0;
  margin-right: 40px;
  font-size: 35px;
  line-height: 1.34;
  letter-spacing: 2.01px;
  text-align: right;
  font-family: 'Geometos', sans-serif;
  color: #2d255c;
  border-right: 5px solid;
}
.header-bottom p {
  max-width: 500px;
  font-size: 25px;
  line-height: 1.76;
  color: #2d255c;
}
.list-info li {
  background-image: url(../img/star.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-left: 40px;
  font-size: 25px;
  line-height: 1.2;
  color: #000000;
}
.list-info li:not(:last-child) {
  margin-bottom: 22px;
}
.list-info.star-purple li {
  background-image: url(../img/star-purple.svg);
}
.it-means {
  padding: 40px 0 100px;
}
.title-arrow {
  font-size: 35px;
  letter-spacing: 2px;
  text-align: center;
  color: #10069f;
  margin-bottom: 90px;
}
.title-arrow:after {
  content: '';
  width: 97px;
  height: 85px;
  display: inline-block;
  background-image: url(../img/arrow-bottom.svg);
  background-size: cover;
  position: relative;
  top: 74px;
  left: 10px;
}
.it-means-wrap {
  display: flex;
  justify-content: space-between;
}
.it-means-photo {
  width: 616px;
  position: relative;
}
.means-women-photo {
  width: 404px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 157px;
  left: 64px;
}
.it-means-content {
  width: 600px;
  max-width: 100%;
  padding-top: 30px;
}
.it-means-content .list-info li {
  line-height: 1.4;
}
.it-means-content .list-info li:not(:last-child) {
  margin-bottom: 35px;
}
.it-means-description {
  font-size: 35px;
  line-height: 1.49;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(165deg, #c8218f 40%, #46167e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 75px auto 85px auto;
}
.it-means-description a {
  color: #10069f;
  border-bottom: 1px solid;
}
.it-means-description a:hover {
  color: #6C2C60;
}
.it-means-description span {
  text-transform: uppercase;
}
.our-clients {
  padding: 115px 0 90px;
  background-color: #f7f5f5;
}
.our-clients h2 {
  font-family: 'Geometos', sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
  text-align: center;
  color: #2d255c;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.our-clients-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.our-clients-block {
  margin: 0 10px 45px;
}
.answer-questions {
  padding: 170px 0 80px;
}
.answer-questions-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.answer-questions-left {
  width: 40%;
}
.answer-questions-box {
  background-color: #f7f5f5;
  padding: 55px 25px 30px 70px;
  position: relative;
}
.answer-questions-box p {
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 1.14px;
  color: #000000;
}
.answer-questions-box:after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../img/block-border.png);
  background-size: 100% 100%;
  position: absolute;
  top: 22px;
  left: 22px;
}
.answer-questions-box:not(:last-child) {
  margin-bottom: 70px;
}
.answer-questions-right {
  width: calc(60% - 55px);
}
.answer-questions-title {
  padding: 65px 0 0 15px;
}
.answer-questions-title sub {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3.2px;
  color: #10069f;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.answer-questions-title h3 {
  font-family: 'Geometos', sans-serif;
  font-size: 35px;
  letter-spacing: 2.01px;
  color: #2d255c;
  text-transform: uppercase;
}
.time-act {
  padding: 90px 0;
}
.time-act-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.time-act-photo {
  width: calc(54% - 55px);
}
.time-act-content {
  width: 46%;
}
.time-act-content h3 {
  font-family: 'Geometos', sans-serif;
  font-size: 34px;
  line-height: 1.34;
  letter-spacing: 2px;
  color: #2d255c;
}
.time-act-content h3 span {
  color: #6c2c60;
}
.time-act-info {
  width: calc(100% + 175px);
  background-color: #ffffff;
  padding: 60px 40px;
  position: relative;
  left: -175px;
  margin-top: 40px;
}
.time-act-info p {
  font-size: 25px;
  letter-spacing: 1.79px;
  background: linear-gradient(135deg, #1e06a4 20%, #f95cf2 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 52px 0;
}
.time-act-info p span {
  color: #f310ed;
}
.time-act-info .btn-arrow {
  max-width: 575px;
  padding: 14px 26px;
  border-radius: 40px;
}
.your-authenticity {
  padding: 20px 0 70px;
}
.your-authenticity-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.your-authenticity-content {
  width: 40%;
  padding-left: 55px;
  position: relative;
}
.your-authenticity-content h2 {
  font-size: 35px;
  line-height: 1.43;
  letter-spacing: 2.01px;
  color: #2d255c;
  margin-bottom: 50px;
}
.your-authenticity-content p {
  font-size: 16px;
  line-height: 2.31;
  letter-spacing: 1.14px;
  color: #2d255c;
  margin-bottom: 40px;
}
.your-authenticity-content p b {
  background: linear-gradient(135deg, #1e06a4 20%, #f95cf2 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
  text-transform: uppercase;
  display: block;
}
.your-authenticity-content h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 2.25;
  letter-spacing: 1.14px;
  color: #10069f;
}
.your-authenticity-content:before {
  content: '';
  width: 36px;
  height: 86px;
  background-image: url(../img/dnk-icon.svg);
  background-size: cover;
  position: absolute;
  top: 7px;
  left: 0px;
}
.your-authenticity-photo {
  width: calc(60% - 30px);
}
.steps {
  background-color: #f7f5f5;
  padding: 100px 0 80px;
}
.steps h2 {
  background: linear-gradient(135deg, #a80fa1 20%, #41093e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #2d255c;
  margin-bottom: 10px;
}
.steps sub {
  font-size: 25px;
  line-height: 1.4;
  text-align: center;
  color: #000000;
  margin-bottom: 160px;
}
.steps sub b {
  color: #10069f;
}
.step-box {
  background-color: #ffffff;
  padding-bottom: 100px;
  position: relative;
}
.step-box:not(:last-child) {
  margin-bottom: 185px;
}
.step-title {
  width: 177px;
  height: 167px;
  background-color: #6c2c60;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: -80px;
}
.step-title p {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 5.6px;
  color: #ffffff;
}
.step-title p span {
  display: block;
  font-size: 50px;
}
.step-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 55px;
}
.step-block {
  width: calc(20% - 25px);
  margin-bottom: 55px;
}
.step-top {
  background-image: url(../img/arrow-blue.svg);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 35px);
  background-position-y: center;
  margin-bottom: 30px;
}
.step-number {
  width: 64px;
  height: 64px;
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #10069f;
}
.step-content {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1.14px;
  color: #000000;
  padding-left: 15px;
}
.step-bottom-title {
  max-width: 850px;
  margin: auto;
  font-size: 32px;
  text-align: center;
  background: linear-gradient(135deg, #1e06a4 20%, #f95cf2 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
}
.last-step {
  max-width: 1000px;
  padding: 0 15px;
  margin: auto;
}
.last-step h3 {
  font-size: 35px;
  font-weight: 600;
  line-height: 1.43;
  text-align: center;
  color: #10069f;
  margin-bottom: 30px;
}
.last-step-photo {
  text-align: center;
  padding: 0 15px 30px;
}
.step-bonus-block {
  border: 1px solid #979797;
  padding: 30px 30px 35px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.step-bonus-block h6 {
  width: 250px;
  text-align: center;
  background: linear-gradient(135deg, #1e06a4 20%, #f95cf2 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 24px;
}
.step-bonus-block p {
  width: calc(100% - 250px);
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 1.14px;
}
.step-bonus-block:not(:last-child) {
  margin-bottom: 19px;
}
.thanks-training {
  padding: 150px 0;
}
.thanks-training-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.thanks-training-photo {
  width: 55%;
}
.thanks-training-content {
  width: calc(45% - 40px);
}
.thanks-training-content .list-info li span {
  background: linear-gradient(135deg, #1e06a4 20%, #f95cf2 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.thanks-training-content .list-info li:not(:last-child) {
  margin-bottom: 33px;
}
.thanks-training-content h4 {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #E32FC1;
  padding: 40px 0 0 40px;
}
.title {
  font-family: 'Geometos', sans-serif;
  font-size: 35px;
  line-height: 1.54;
  letter-spacing: 2.01px;
  color: #2d255c;
  margin-bottom: 75px;
  position: relative;
}
.title:after {
  content: '';
  width: 160px;
  height: 6px;
  background-image: linear-gradient(85deg, #10069f -2%, #f310ed 89%, #f70eed 91%);
  position: absolute;
  bottom: -15px;
  left: 0;
}
.price {
  padding: 125px 0 85px;
  margin-bottom: 50px;
  background-image: url(../img/price-new-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.price h2 {
  font-family: 'Geometos', sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 70px;
}
.price1 {
  padding: 90px 0 5px;
  background-size: cover;
}
.price1 h2 {
  font-family: 'Geometos', sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 70px;
}
.price-wpap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.price-block {
  width: calc(50% - 35px);
}
.price-box {
  background-color: #ffffff;
  padding-bottom: 140px;
}
.price-title {
  height: 140px;
  background-image: url(../img/price-icon-1.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-color: #f7f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Geometos', sans-serif;
  font-size: 35px;
  line-height: 1.43;
  padding-top: 50px;
  letter-spacing: 2.01px;
  color: #2d255c;
}
.price-title.premium {
  background-image: url(../img/price-icon-2.png);
  background-position: center top;
}
.price-list li {
  border-top: 1px solid #CCCCCC;
  padding: 19px;
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
}
.price-list li s {
  color: #9D9D9D;
}
.price-info {
  width: calc(100% - 60px);
  margin: auto;
  background-color: #E9E5FF;
  padding: 32px 30px 30px;
  text-align: center;
  position: relative;
  top: -125px;
}
.price-info h3 {
  font-size: 20px;
  font-weight: bold;
  color: #e32fc1;
  line-height: 1.3;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.price-info sub {
  line-height: 2.07;
  letter-spacing: 2.8px;
  text-align: center;
  color: #6c2c60;
  font-size: 16px;
  margin: 25px 0 30px;
}
.price-info sub a {
  color: #6c2c60;
  border-bottom: 1px solid;
}
.price-info sub a:hover {
  color: #5e2152;
}
.price-cost {
  font-size: 54px;
  font-weight: bold;
  color: #960BCD;
}
.price-cost span {
  font-size: 12px;
  color: #f310ed;
}
.price-payment {
  font-size: 11px;
  line-height: 3.18;
  letter-spacing: 2.2px;
  color: #6c2c60;
  text-transform: uppercase;
  margin: 10px 0 20px;
}
.price-info-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1.14286px;
  color: #2D255C;
  margin-bottom: 40px;
}
.immediate-bonus {
  padding: 80px 0 20px;
}
.immediate-bonus-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.immediate-bonus-content {
  width: 40%;
}
.immediate-bonus-content p {
  font-size: 25px;
  line-height: 1.4;
  color: #000000;
}
.immediate-bonus-photo {
  width: calc(60% - 30px);
}
.experience {
  padding: 30px 0 100px;
}
.experience-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.experience-photo {
  width: calc(50% - 10px);
  position: relative;
}
.experience-photo:after {
  content: '';
  width: 227px;
  height: 462px;
  background-image: url(../img/half-circle.png);
  background-size: cover;
  position: absolute;
  left: 80px;
  bottom: 60px;
}
.experience-content {
  width: calc(50% - 35px);
}
.experience-content .title {
  width: calc(100% + 155px);
  left: -150px;
}
.experience-content p {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1.42857px;
  color: #000000;
}
.experience-content p mark {
  padding: 2px 5px;
  background-color: #E9E5FF;
  font-weight: bold;
}
.experience-content p:not(:last-child) {
  margin-bottom: 30px;
}
.my-opinion-box {
  border-top: solid 4px #10069f;
  background-color: #f7f5f5;
  padding: 60px 100px 100px;
  text-align: center;
}
.my-opinion-box p {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3.2px;
  color: #10069f;
  margin-bottom: 50px;
}
.my-opinion-box h2 {
  font-family: 'Geometos', sans-serif;
  font-size: 35px;
  line-height: 1.54;
  letter-spacing: 2.01px;
  color: #2d255c;
}
.my-story {
  padding: 70px 0 100px;
}
.my-story-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.my-story-block:nth-child(even) {
  flex-direction: row-reverse;
}
.my-story-content {
  width: calc(100% - 680px);
}
.my-story-content h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.88;
  letter-spacing: 3.2px;
  color: #10069f;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.my-story-content p {
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 1.14px;
  color: #000000;
}
.my-story-content p mark {
  width: calc(100% + 24px);
  display: inline-block;
  background-color: #E9E5FF;
  position: relative;
  left: -12px;
  padding: 4px 12px;
}
.my-story-photo {
  width: 540px;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 6px solid #B80DD9;
}
.my-story-photo img {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.innovation-box {
  padding: 120px 60px 150px;
  background-image: url(../img/innovation-box-bg.jpg);
  background-size: cover;
  position: relative;
}
.innovation-box h2 {
  font-family: 'Geometos', sans-serif;
  font-size: 35px;
  line-height: 1.54;
  letter-spacing: 2.01px;
  text-align: center;
  color: #ffffff;
}
.innovation-box:after {
  content: '';
  width: 680px;
  height: 44px;
  background-image: url(../img/innovation-lines.svg);
  position: absolute;
  bottom: 70px;
  right: 0;
}
.passion-work {
  background-color: #F7F5F5;
  padding: 70px 0 90px;
  margin: 80px 0 0;
  text-align: center;
}
.passion-work h2 {
  font-family: 'Geometos', sans-serif;
  font-size: 35px;
  letter-spacing: 2.01px;
  color: #2d255c;
  margin: 27px 0 15px;
}
.passion-work p {
  max-width: 990px;
  margin: auto;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1.43px;
  color: #000000;
  margin-bottom: 35px;
}
.pride {
  padding: 40px 0 200px;
}
.pride h2 {
  max-width: 860px;
  font-size: 35px;
  line-height: 1.43;
  letter-spacing: 2.01px;
  text-align: center;
  color: #2d255c;
  margin: auto;
}
.pride-icon {
  padding-right: 200px;
  text-align: right;
}
.pride-slider {
  text-align: center;
  margin-top: 100px;
  position: relative;
}
.pride-slider-box {
  padding: 0 135px 100px;
}
.pride-slider-box .pride-text {
  font-size: 16px;
  line-height: 2.81;
  letter-spacing: 1.14px;
  color: #000000;
  margin: 20px 0;
}
.pride-slider-box h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 3.2px;
  color: #10069f;
  text-transform: uppercase;
}
.pride-slider-box .pride-info {
  color: #6c2c60;
}
.arrow-slider {
  width: 49px;
  height: 32px;
  background-image: url(../img/arrow-slider.svg);
  background-size: cover;
  background-color: #ffffff;
  position: absolute;
  top: calc(50% - 16px);
  z-index: 10;
  cursor: pointer;
  transition: 0.3s;
}
.arrow-slider:hover {
  opacity: 0.7;
}
.arrow-slider-prev {
  left: 0;
}
.arrow-slider-next {
  right: 0;
  transform: rotate(180deg);
}
.pride-video-wrap {
  display: flex;
  justify-content: space-between;
}
.pride-video-block {
  width: calc(50% - 25px);
  height: 350px;
  position: relative;
}
.pride-video-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.pride-video-btn {
  width: 88px;
  height: 88px;
  background-image: url(../img/arrow-video.svg);
  background-repeat: no-repeat;
  background-position: 32px center;
  position: absolute;
  top: 24px;
  right: 30px;
  border: 4px solid #6C2C60;
  border-radius: 50%;
}
.pulse {
  animation: emit 1s infinite;
}
.pulse:hover {
  animation: none;
}
@keyframes emit {
  from {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.15);
  }
  to {
    box-shadow: 0 0 0 17px rgba(108, 44, 96, 0.45);
  }
}
.modal,
.modal-timeout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
}
.close-modal {
  font-size: 50px;
  position: absolute;
  right: 15px;
  top: 0px;
  cursor: pointer;
  transition: 0.3s;
}
.close-modal:hover {
  color: #ffffff;
}
.modal .modal-block {
  width: 800px;
  max-width: calc(100% - 40px);
  height: 600px;
  max-height: calc(100% - 50px);
  display: none;
  animation: scall 0.7s;
}
.open-modal {
  cursor: pointer;
}
.pride-info-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 48px;
}
.pride-info-block {
  width: 340px;
  max-width: calc(33.3% - 20px);
  background-color: #F7F5F5;
  padding: 80px 30px 55px;
  text-align: center;
  position: relative;
  color: #10069f;
}
.pride-info-block h5 {
  font-family: 'Geometos', sans-serif;
  font-size: 30px;
  letter-spacing: 1.72px;
  margin-bottom: 45px;
  z-index: 3;
  position: relative;
}
.pride-info-block p {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.14;
  letter-spacing: 2.8px;
  z-index: 3;
  position: relative;
}
.pride-info-block p b {
  font-weight: 900;
  text-transform: uppercase;
}
.pride-info-block:after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../img/block-border-2.png);
  background-size: 100% 100%;
  position: absolute;
  top: 17px;
  left: 17px;
}
.increase {
  background-color: #f7f5f5;
  padding: 85px 0 70px;
}
.increase h2 {
  font-family: 'Geometos', sans-serif;
  font-size: 35px;
  line-height: 1.5;
  letter-spacing: 2.01px;
  text-align: center;
  color: #2d255c;
  margin-bottom: 40px;
}
.increase sub {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3.2px;
  text-align: center;
  color: #e32fc1;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.increase-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.increase-block:not(:last-child) {
  margin-bottom: 100px;
}
.increase-block:nth-child(even) {
  flex-direction: row-reverse;
}
.increase-content {
  width: calc(50% - 40px);
}
.increase-photo {
  width: calc(50% - 40px);
  position: relative;
}
.increase-photo img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.increase-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.increase-number {
  width: 100px;
  height: 100px;
  background-color: #6C2C60;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.increase-name {
  width: calc(100% - 130px);
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #6C2C60;
}
.increase-text {
  font-size: 20px;
  line-height: 1.75;
  letter-spacing: 1.4px;
}
.philosophy {
  padding: 135px 0 100px;
  background-image: url(../img/philosophy.png);
  background-repeat: no-repeat;
  background-position: 9% center;
  background-size: 280px;
}
.philosophy sub {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3.2px;
  color: #10069f;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.philosophy-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.philosophy-block {
  width: calc(50% - 33px);
  color: #2D255C;
}
.philosophy-block h4 {
  font-weight: bold;
  font-size: 25px;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.philosophy-block h6 {
  background-color: #E9E5FF;
  padding: 10px 80px 10px 15px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 40px;
}
.philosophy-block p {
  font-weight: 500;
  font-size: 16px;
  line-height: 2.1;
  letter-spacing: 1.14286px;
}
.philosophy-block p:not(:last-child) {
  margin-bottom: 40px;
}
.social-impact {
  background-image: url(../img/social-impact.jpg);
  background-size: cover;
  background-position: center center;
  padding: 225px 0 180px;
}
.social-impact-box {
  border: 1px solid #ffffff;
  padding: 15px;
  position: relative;
}
.social-impact-box:after {
  content: '';
  width: 88px;
  height: 88px;
  background-image: url(../img/social-impact-icon.svg);
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -42px;
  left: calc(50% - 44px);
}
.social-impact-block {
  background-color: rgba(233, 229, 255, 0.73);
  padding: 45px 70px 45px;
}
.social-impact-block p {
  font-weight: bold;
  font-size: 25px;
  line-height: 1.45;
  text-align: center;
  color: #2D255C;
}
.future {
  background-color: #f7f5f5;
  padding: 80px 0 60px;
}
.future-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.future-photo {
  width: 35%;
  padding-top: 40px;
}
.future-content {
  width: calc(65% - 35px);
}
.future-content sub {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.6px;
  color: #e32fc1;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.future-content h2 {
  font-family: 'Geometos', sans-serif;
  font-size: 34px;
  letter-spacing: 2px;
  color: #2d255c;
  margin-bottom: 40px;
}
.increase-info-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.increase-info-wrap p {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1.1px;
  color: #000000;
}
.increase-info-left {
  width: calc(50% - 50px);
}
.increase-info-left h5 {
  background-color: #E7E3FD;
  font-size: 20px;
  line-height: 1.7;
  padding: 7px 15px;
  letter-spacing: 1.1px;
  color: #000000;
  font-weight: bold;
  margin: 30px 0;
}
.increase-info-right {
  width: 50%;
}
.increase-advantages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.increase-advantages p {
  width: calc(100% - 70px);
}
.increase-advantages:not(:last-child) {
  margin-bottom: 37px;
}
.increase-advantages-number {
  width: 50px;
  height: 50px;
  background-color: #6C2C60;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 4px;
  color: #FFFFFF;
}
.capabilities {
  padding: 80px 0 150px;
  background-image: url(../img/philosophy.png);
  background-repeat: no-repeat;
  background-position: center 210px;
  background-size: 280px;
}
.capabilities sub {
  max-width: 1015px;
  margin: auto;
  font-size: 25px;
  letter-spacing: 1.79px;
  text-align: center;
  color: #000000;
}
.capabilities-info {
  display: flex;
  justify-content: space-between;
  margin: 120px 0 80px;
}
.capabilities-info h3 {
  font-family: 'Geometos', sans-serif;
  font-size: 35px;
  line-height: 1.54;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.capabilities-info .capabilities-info-left {
  width: 50%;
  color: #2d255c;
  text-align: right;
}
.capabilities-info .capabilities-info-right {
  width: calc(50% - 60px);
  color: #10069f;
}
.capabilities-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.capabilities-photo {
  width: 50%;
}
.capabilities-photo img {
  display: block;
  object-fit: cover;
  object-position: center;
}
.capabilities-content {
  width: calc(50% - 60px);
  background-color: #ffffff;
  padding: 60px 60px 50px;
  position: relative;
  left: -150px;
}
.capabilities-content h3 {
  font-weight: bold;
  font-size: 25px;
  line-height: 1.75;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #E32FC1;
}
.capabilities-content h3.capabilities-second-title {
  margin: 32px 0 25px;
  color: #10069f;
}
.faq {
  padding: 100px 0 200px;
  background: linear-gradient(to bottom, #6c2c60, #2d255c);
}
.faq h2 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3.2px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 80px;
}
.faq-wrap {
  border: solid 1px #ffffff;
  border-bottom: none;
}
.faq-block {
  transition: 0.3s;
}
.faq-block.faq-active {
  background-color: #ffffff;
}
.faq-block.faq-active .faq-title {
  padding: 30px 35px;
  color: #6c2c60;
}
.faq-title {
  padding: 20px 35px;
  color: #ffffff;
  border-bottom: solid 1px;
  cursor: pointer;
  transition: 0.3s;
}
.faq-title p {
  font-family: 'Geometos', sans-serif;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1.15px;
}
.faq-info {
  display: none;
  padding: 50px 35px;
}
.faq-info p {
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 1.14px;
  color: #000000;
}
.whats-app-box {
  padding: 135px 0;
  text-align: center;
}
.whats-app-box h2 {
  font-family: 'Geometos', sans-serif;
  font-size: 35px;
  letter-spacing: 2.01px;
  text-align: center;
  color: #2d255c;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.whats-app {
  text-transform: uppercase;
}
.whats-app img {
  padding-left: 8px;
}
.whats-app:hover {
  left: 0;
}
.footer {
  background-color: #434343;
  padding: 35px 0 70px;
}
.footer-box {
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  background-position: center center;
  padding: 85px 35px 100px;
}
.footer-box h2 {
  font-size: 35px;
  font-weight: 600;
  line-height: 1.26;
  text-align: center;
  color: #ffffff;
  margin-bottom: 80px;
}
.footer-box h2 span {
  color: #e32fc1;
}
.footer-box h3 {
  text-align: center;
  margin-bottom: 12px;
}
.form-box {
  max-width: 1000px;
  margin: auto;
}
.input {
  width: 100%;
  height: 49px;
  outline: none;
  font-size: 16px;
  letter-spacing: 1.14px;
  text-align: center;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  margin-bottom: 30px;
}
.wrap-input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrap-input .input {
  width: calc(33.333% - 17px);
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + span {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 1.14px;
  text-align: center;
  color: #ffffff;
}
.styled-checkbox + span a {
  color: #ffffff;
  font-weight: 600;
}
.styled-checkbox + span a:hover {
  color: #f310ed;
}
.styled-checkbox + span:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #e5e5e5;
  position: relative;
  top: -3px;
}
.styled-checkbox:hover + span:before {
  background: #f310ed;
}
.styled-checkbox:focus + span:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + span:before {
  background: #f310ed;
}
.styled-checkbox:disabled + span:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + span:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 6px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #ffffff, 4px 0 0 #ffffff, 4px -2px 0 #ffffff, 4px -4px 0 #ffffff, 4px -6px 0 #ffffff, 4px -8px 0 #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.footer-btn {
  text-align: right;
  margin-top: 40px;
}
.not-found {
  padding: 80px 0 120px;
}
.not-found-box {
  background-image: url(../img/not-found.jpg);
  background-size: cover;
  padding: 80px 40px 210px;
  display: flex;
  justify-content: flex-end;
}
.not-found-content {
  background-color: rgba(255, 255, 255, 0.66);
  padding: 50px 10px 50px 45px;
}
.modal-timeout-block {
  width: 900px;
  max-width: calc(100% - 30px);
  padding: 40px 25px;
  background-color: #ffffff;
  animation: scall 0.7s;
  text-align: center;
}
.modal-timeout-block h2 {
  font-family: 'Geometos', sans-serif;
  font-size: 38px;
  background: linear-gradient(0deg, #5809b8 20%, #b10dd6 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 35px;
}
.modal-timeout-block p {
  font-size: 24px;
  line-height: 1.6;
  color: #2D255C;
}
.modal-timeout-block .btn-arrow {
  padding: 14px 26px;
  margin-top: 30px;
}
.modal-timeout-block .btn-arrow span {
  margin-right: 20px;
}
.modal-gif {
  margin: 35px 0 30px;
}
.footer-info {
  text-align: center;
}
.footer-info h3 {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 15px;
}
.footer-info p {
  max-width: 410px;
  margin: auto;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.3;
}
.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.footer-links li {
  margin: 0 12px 5px;
}
.footer-links li a {
  font-size: 13px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.footer-links li a:hover {
  border-bottom: 1px solid #ffffff;
}
.footer-links li:not(:last-child) {
  position: relative;
}
.footer-links li:not(:last-child):after {
  content: '';
  width: 1px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  top: 4px;
  right: -14px;
}
.some-bonus {
  padding: 105px 0;
  background-image: url(../img/snowflakes.png);
  background-position: center 265px;
  background-repeat: no-repeat;
}
.gift-box {
  text-align: center;
}
.some-bonus-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.some-bonus-block {
  width: calc(33.333% - 20px);
}
.some-bonus-photo {
  text-align: center;
  margin-bottom: 40px;
}
.some-bonus-photo img {
  object-fit: cover;
  object-position: center;
}
.some-bonus-content {
  text-align: center;
}
.some-bonus-content h3 {
  color: #10069f;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.3;
  margin-bottom: 15px;
}
.some-bonus-content h3 span {
  color: #10069f;
}
.some-bonus-content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 15px;
  color: #434343;
}
.header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: center top;
  position: relative;
  padding-bottom: 27px;
}
.header h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 161.5%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.header-top {
  max-width: 932px;
  background: linear-gradient(180deg, #bfb3ff -38.82%, #edeaff 79.41%);
  border-radius: 0px 0px 75px 75px;
  padding: 29px 18px 21px;
  margin: auto;
}
.header-top p {
  background: linear-gradient(135deg, #9501aa 20%, #1e06a4 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 31px;
  text-align: center;
  font-weight: 700;
}
.header-arrow {
  text-align: center;
  margin: 20px 0;
}
.header-block {
  position: relative;
  overflow: hidden;
  padding: 20px 20px 40px 40%;
  margin-bottom: 25px;
}
.header-gift {
  position: absolute;
  top: 45px;
  left: calc(40% + 720px);
}
.header-box {
  width: 860px;
  padding: 55px 52px 55px 36px;
  border: 1.5px solid #FFFFFF;
  border-radius: 0px 0px 0px 45px;
  position: relative;
}
.header-box p {
  font-size: 26px;
  line-height: 135%;
  color: #FFFFFF;
}
.header-box p span {
  padding: 2px;
  position: relative;
}
.header-box p b {
  position: relative;
}
.header-box p b:before {
  content: '';
  width: calc(100% + 51px);
  height: 100%;
  position: absolute;
  top: -2px;
  left: -48px;
  background-color: #400582;
  border-radius: 17px 0px 0px 17px;
}
.header-box p:not(:last-child) {
  margin-bottom: 26px;
}
.header-box .btn-arrow {
  width: 620px;
  max-width: 100%;
  position: absolute;
  bottom: -17px;
  left: -10px;
  display: inline-flex;
  justify-content: center;
}
.header-box-title {
  position: absolute;
  top: -17px;
  left: 17px;
}
.header-box-title span {
  background-color: #310252;
  padding: 5px 24px 5px 19px;
  font-weight: bold;
  font-size: 27px;
  line-height: 153.5%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.christmas-tree {
  width: 35%;
  position: absolute;
  bottom: 1%;
  left: 1%;
}
.header-info {
  display: inline-block;
  background-color: #FFFFFF;
  margin-left: 22%;
  border-radius: 0px 38px 44px 44px;
  font-weight: 800;
  font-size: 35px;
  line-height: 135%;
  padding: 18px 40px 10px 33px;
  text-align: center;
  position: relative;
}
.header-info span {
  background: linear-gradient(135deg, #2d255b 20%, #892e70 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
}
.header-info:before {
  content: '';
  width: 78px;
  height: 116px;
  background-image: url(../img/title-triangle.png);
  position: absolute;
  top: -50px;
  left: -47px;
}
.gift-mobile {
  display: none;
}
.christmas-tree-mobile {
  display: none;
}
.christmas-container {
  background-image: url(../img/christmas-bg.png);
  background-size: cover;
  background-position: center top;
  padding: 130px 0 125px;
}
.caption {
  font-weight: bold;
  font-size: 48px;
  line-height: 139.5%;
  text-align: center;
  text-transform: uppercase;
  color: #391059;
}
.christmas-include {
  margin: 90px 0;
  padding: 0 80px;
  position: relative;
}
.christmas-include h3 {
  max-width: 870px;
  font-weight: 800;
  font-size: 40px;
  line-height: 160.5%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: relative;
  background: linear-gradient(135deg, #cc218f 20%, #4e188a 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
}
.christmas-include p {
  max-width: 775px;
  font-weight: bold;
  font-size: 28px;
  line-height: 154.5%;
  color: #391059;
  position: relative;
  margin-top: 15px;
}
.christmas-include p span {
  text-decoration: underline;
}
.christmas-include:before {
  content: '';
  width: 993px;
  max-width: 100%;
  height: 336px;
  position: absolute;
  left: 0;
  bottom: -50px;
  background: linear-gradient(360deg, #f3ecff 0%, rgba(233, 229, 255, 0) 81.1%);
  border-radius: 0px 0px 0px 100px;
}
.monitor-photo {
  max-height: none;
  position: absolute;
  right: -150px;
  bottom: -120px;
}
.christmas-bonus {
  overflow: hidden;
}
.christmas-bonus-box {
  padding: 70px 0 190px 27%;
  position: relative;
}
.christmas-bonus-photo {
  position: absolute;
  top: 0;
  left: -120px;
  z-index: 3;
}
.christmas-bonus-title {
  position: relative;
  margin-bottom: 50px;
}
.christmas-bonus-title:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -150px;
  width: 578px;
  height: 55px;
  background: linear-gradient(90deg, #3e1789 -1.87%, #cf218f 101.12%);
  border-radius: 27px;
}
.christmas-bonus-title span {
  font-weight: 800;
  font-size: 30px;
  line-height: 137%;
  color: #FFFFFF;
  position: relative;
}
.christmas-bonus-list {
  max-width: 910px;
}
.christmas-bonus-list li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.christmas-bonus-list li:not(:last-child) {
  margin-bottom: 35px;
}
.christmas-bonus-number {
  width: 38px;
  height: 38px;
  background-color: #D8DCFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  color: #3E105D;
  padding: 4px 0 0 4px;
}
.christmas-bonus-text {
  width: calc(100% - 58px);
  font-size: 25px;
  line-height: 137%;
  color: #3E105D;
}
.christmas-bonus-text span {
  background-color: #DCD7EB;
}
.network {
  position: relative;
}
.network h4 {
  font-weight: 800;
  font-size: 28px;
  line-height: 137%;
  background: linear-gradient(135deg, #cf218f 20%, #3e1789 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 0 20px;
}
.network p {
  max-width: 860px;
  font-weight: bold;
  font-size: 26px;
  line-height: 154.5%;
  letter-spacing: 0.02em;
  color: #391059;
}
.network-title {
  font-weight: 800;
  font-size: 31px;
  line-height: 137%;
  color: #FFFFFF;
  position: relative;
  padding: 8px 0;
}
.network-title span {
  position: relative;
}
.network-title:before {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #cf218f -1.87%, #3e1789 101.12%);
  border-radius: 27.5px 0px 0px 27.5px;
  position: absolute;
  top: -4px;
  left: -100px;
}
.network-photo {
  max-height: 460px;
  position: absolute;
  top: -80px;
  right: 0;
  z-index: 1;
}
.moreover-box {
  padding: 48px 50px 33px;
  border: 3px solid #391059;
  position: relative;
  margin-top: 150px;
}
.moreover-box h4 {
  font-weight: 800;
  font-size: 27px;
  line-height: 165%;
  letter-spacing: 0.02em;
  color: #391059;
  margin-bottom: 40px;
}
.moreover-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 135%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #391059;
  position: absolute;
  top: -30px;
  left: 33px;
}
.moreover-title span {
  background-color: #ffffff;
  padding: 0 15px;
}
.text-bg {
  background-color: #EFE9FF;
  padding: 0 2px 0 5px;
}
.text-color {
  background: linear-gradient(165deg, #8d0f75 40%, #391059 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
}
.uppercase {
  text-transform: uppercase;
}
.bow-photo {
  max-height: 600px;
  position: absolute;
  right: -85px;
  bottom: -230px;
}
.surprise {
  background-image: url(../img/surprise-bg.jpg);
  background-size: cover;
  background-position: center center;
  padding: 60px 0 87px;
}
.surprise .surprise-block {
  position: relative;
}
.surprise h2 {
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
}
.surprise h2 span {
  background: linear-gradient(165deg, #8d0f75 40%, #391059 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
  display: block;
}
.surprise p {
  max-width: 700px;
  font-size: 27px;
  line-height: 137%;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #391059;
  margin-bottom: 46px;
}
.surprise p span {
  font-weight: bold;
  text-transform: uppercase;
}
.surprise-info {
  max-width: 900px;
  background-color: #EEE7FF;
  padding: 12px 15px 10px;
  font-size: 26px;
  color: #7725AA;
  font-weight: bold;
  line-height: 137%;
  letter-spacing: 0.02em;
  margin: 20px 0 24px;
}
.surprise-photo {
  position: absolute;
  top: 25px;
  right: -30px;
  z-index: 5;
}
.some-bonus-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 154%;
  letter-spacing: 0.02em;
  color: #3B0E9B;
  padding-left: 150px;
  margin-bottom: 45px;
  position: relative;
}
.some-bonus-icon {
  max-height: 250px;
  position: absolute;
  top: -130px;
  left: 15px;
}
.reservar {
  padding: 10px 0 110px;
}
.reservar-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.reservar-top-content {
  width: calc(100% - 260px);
}
.reservar-top-content h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 43px;
  margin-bottom: 25px;
}
.reservar-top-content h2 span {
  background: linear-gradient(165deg, #8d0f75 40%, #391059 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
  display: block;
  color: #8d0f75;
}
.reservar-top-content h4 {
  font-weight: 600;
  font-size: 31px;
  line-height: 151%;
  letter-spacing: 0.02em;
  color: #391059;
}
.reservar-top-content h4 span {
  background: linear-gradient(165deg, #8d0f75 40%, #630952 70%);
  -webkit-background-clip: text;
  display: block;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
  color: #8d0f75;
}
.reservar-arrow {
  text-align: center;
  margin: 37px 0;
}
.reservar-block {
  border: 3px solid #391059;
  padding: 30px 30px 60px;
}
.reservar-box {
  padding: 34px;
  background-color: #391059;
  position: relative;
}
.reservar-box h4 {
  font-weight: 800;
  font-size: 34px;
  line-height: 151%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.reservar-box h4 span {
  font-weight: 400;
}
.reservar-box h3 {
  font-size: 76px;
  font-weight: bold;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.reservar-box h3 span {
  font-size: 55px;
}
.reservar-box .btn-arrow {
  width: 100%;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: -90px;
}
.reservar-price {
  display: flex;
  justify-content: center;
  margin: 15px 0 0;
}
.reservar-price p {
  font-weight: 500;
  font-size: 46px;
  line-height: 150%;
  text-transform: uppercase;
  background: linear-gradient(165deg, #ee10eb 40%, #a454f1 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 15px;
  position: relative;
}
.reservar-price p span {
  font-size: 37px;
}
.reservar-price p:before {
  content: '';
  width: 100%;
  height: 8px;
  background: rgba(208, 182, 251, 0.6);
  border-radius: 30px;
  position: absolute;
  top: 27px;
  left: 0;
}
.impression-title {
  background-color: #3B0E9B;
  font-weight: bold;
  font-size: 40px;
  line-height: 162.5%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding-top: 2px;
}
.impression-top {
  background-image: url(../img/impression-top.jpg);
  background-size: cover;
  background-position: center top;
  padding-top: 32px;
}
.impression-top .container {
  position: relative;
}
.impression-top h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 156.5%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #3B0E9B;
  margin-bottom: 200px;
}
.impression-todo {
  position: absolute;
  top: -73px;
  left: 80px;
  display: flex;
  align-items: flex-end;
}
.impression-todo img {
  position: relative;
  top: -18px;
}
.impression-todo span {
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
  background: linear-gradient(165deg, #c8218f 40%, #46167e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 10px;
}
.impression-todo:before {
  content: '+';
  position: absolute;
  bottom: -125px;
  left: 85px;
  font-size: 98px;
  text-transform: uppercase;
  color: #42188A;
}
.impression-caption span {
  font-weight: 800;
  font-size: 40px;
  line-height: 170%;
  text-transform: uppercase;
  background: linear-gradient(165deg, #c8218f 40%, #46167e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
}
.group-block {
  position: relative;
  padding-left: 43%;
  margin-top: 20px;
}
.group-photo {
  position: absolute;
  top: -2px;
  left: -125px;
}
.group-content h4 {
  font-weight: bold;
  font-size: 32px;
  line-height: 170%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #42188A;
}
.group-list {
  margin: 16px 0 26px;
}
.group-list li {
  font-weight: 600;
  font-size: 25px;
  line-height: 151%;
  letter-spacing: 0.02em;
  color: #391059;
  position: relative;
}
.group-list li:before {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #391059;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  left: -12px;
}
.group-list li:not(:last-child) {
  margin-bottom: 15px;
}
.group-card {
  display: inline-block;
  background-color: #3B0E9B;
  padding: 18px 11px 11px 29px;
}
.group-card h6 {
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 3px;
}
.group-card p {
  font-size: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.impression-bottom {
  background-image: url(../img/impression-bottom.jpg);
  background-size: cover;
  background-position: center bottom;
  padding: 65px 0;
}
.impression-bottom .reservar-block {
  margin: 75px 0 85px;
}
.impression-bottom-content {
  padding-left: 25%;
  position: relative;
}
.impression-bottom-content h4 {
  margin-bottom: 10px;
}
.impression-bottom-content h4 span {
  font-weight: 800;
  font-size: 34px;
  line-height: 170%;
  text-transform: uppercase;
  background: linear-gradient(165deg, #c8218f 40%, #46167e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
  color: #C8218F;
  display: block;
}
.impression-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 151%;
  letter-spacing: 0.02em;
  color: #391059;
}
.impression-text-first {
  position: relative;
  margin-bottom: 54px;
}
.impression-text-first:before {
  content: '';
  width: 77px;
  height: 77px;
  background-image: url(../img/mobile.png);
  background-size: cover;
  position: absolute;
  bottom: 5px;
  right: -35px;
}
.impression-photo {
  position: absolute;
  top: -20px;
  left: -120px;
}
.prc-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 151%;
  text-align: center;
  color: #2D255C;
  margin-bottom: 10px;
}
.prc-old {
  background: linear-gradient(165deg, #c8218f 40%, #46167e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  position: relative;
}
.prc-old span {
  font-size: 31px;
}
.prc-old:before {
  content: '';
  width: 100%;
  height: 7px;
  background: rgba(170, 118, 255, 0.8);
  position: absolute;
  top: 14px;
  border-radius: 30px;
}
.prc-new {
  font-weight: 600;
  font-size: 31px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  color: #820BC6;
  margin: 17px 0 10px;
}
.prc-new b {
  font-size: 92px;
  font-weight: bold;
}
.prc-bottom {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
  color: #3B0E9B;
  text-align: center;
  margin-top: 24px;
}
.prc-bottom span {
  position: relative;
}
.prc-bottom span:before {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #3B0E9B;
  position: absolute;
  right: -60px;
  top: 8px;
}
.timer-box {
  width: 100%;
  background-color: #ca012e;
  padding: 12px 0;
  position: fixed;
  bottom: -100px;
  left: 0;
  z-index: 50;
  transition: 0.7s;
}
.timer-box.active {
  bottom: 0px;
}
.timer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timer-wrap .btn-arrow {
  padding: 8px 15px;
  animation: emitSmall 1s infinite;
}
.timer-wrap .btn-arrow span {
  font-size: 10px;
  margin-right: 0px;
}
.timer-title {
  font-size: 16px;
  color: #ffffff;
}
#timer {
  width: 200px;
  display: flex;
  align-items: center;
}
.block_data {
  display: flex;
  font-size: 18px;
  color: #ffffff;
}
.block_data span {
  font-weight: bold;
  margin-right: 17px;
}
.block_data p {
  margin-right: 22px;
}
.block_data:nth-child(2) span,
.block_data:nth-child(3) span {
  position: relative;
}
.block_data:nth-child(2) span:before,
.block_data:nth-child(3) span:before {
  content: ':';
  position: absolute;
  top: -2px;
  right: -9px;
}
.close-timer-box {
  position: absolute;
  top: calc(50% - 12px);
  right: 15px;
  color: #ffffff;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}
.close-timer-box:hover {
  opacity: 1;
}
